<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dconf-nfs-home" xml:lang="hr">

  <info>
    <link type="guide" xref="setup"/>
    <link type="seealso" xref="dconf-profiles"/>
    <link type="seealso" xref="dconf-custom-defaults"/>
    <revision version="0.1" date="2013-03-19" status="draft"/>
    <revision pkgversion="3.8" date="2013-05-09" status="review"/>
    <revision pkgversion="3.12" date="2014-06-17" status="review"/>

    <credit type="author copyright">
      <name>Jana Svarova</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Nadopuna podešavanja sustava za <sys>dconf</sys> kako bi se pohranile postavke u <sys>NFS</sys> osobni direktorij.</desc>
  </info>

  <title>Pohrana postavki putem <sys>NFS-a</sys></title>

  <p>Kako bi <sys its:translate="no">dconf</sys> ispravno radio pri korištenju <sys>Mrežnog datotečnog sustava</sys> (<sys>NFS</sys>) osobnih direktorija, <sys its:translate="no">dconf</sys> <em>pozadinska datoteka ključa </em>mora se koristiti.</p>

  <steps>
    <item>
      <p>Stvorite ili uredite <file its:translate="no">/etc/dconf/profile/user</file> datoteku na svakom klijentu.</p>
    </item>
    <item>
      <p>Na samom početku ove datoteke, dodajte sljedeći redak:</p>
      <code><input its:translate="no">service-db:keyfile/user</input></code>
    </item>
  </steps>
  <p><sys its:translate="no">dconf</sys> <em>pozadinska datoteka ključa</em> će se primijeniti kada se korisnik prijavi sljedeći puta. Ispituje datoteku ključa kako bi utvrdio jesu li napravljene nadopune, stoga postavke možda neće biti odmah nadopunjene.</p>
  <p>Ako se <em>pozadinska datoteka ključa</em> ne koristi, postavke korisnika se možda neće ispravno primijeniti ili nadopuniti.</p>

</page>
