<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="hr">

  <info>

    <title type="link" role="trail">Priručnik administracije sustava</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Priručnik za GNOME administratore sustava.</desc>

  </info>

  <title>GNOME priručnik administracije sustava</title>

  <links type="topic" groups="#first"/>

  <links style="toronto" type="topic" groups="user-settings appearance #default"/>

  <links type="topic" groups="#last"/>

</page>
