<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="login" xml:lang="hr">
  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="login-userlist-disable">Onemogućavanje popisa korisnika</link>, <link xref="session-user">podešavanje zadane sesije korisnika</link>, <link xref="login-automatic">automatska prijava</link>…</desc>

  </info>

  <title>Prijava</title>

<section id="appearance">
  <title>Izgled</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Upravljanje</title>
  <links style="2column" type="topic"/>
</section>
</page>
