<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="network" xml:lang="hr">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="network-server-list">Podešavanje zadanog popisa poslužitelja</link>, <link xref="network-vpn">zadane VPN postavke</link>…</desc>

  </info>

  <title>Mreža i hardver</title>

</page>
