<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wrongnetwork" xml:lang="pt-BR">
  <info>

    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-problem"/>
    <link type="seealso" xref="net-wireless-connect"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Edite suas configurações de conexão e remova a opção de conexão indesejada.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2021.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2012-2022.</mal:years>
    </mal:credit>
  </info>

  <title>Meu computador se conecta à rede errada</title>

  <p>Quando você liga o computador, ele automaticamente tenta se conectar às redes sem fio às quais você se conectou anteriormente. Se ele tentar se conectar a uma rede à qual você não deseja se conectar, siga as etapas abaixo.</p>

  <steps>
    <title>Para esquecer uma conexão sem fio:</title>
    <item>
      <p>Abra o panorama de <gui xref="shell-introduction#activities">Atividades</gui> e comece a digitar <gui>Wi-Fi</gui>.</p>
    </item>
    <item>
      <p>Encontre a rede à qual você <em>não</em> deseja que seu computador continue se conectando.</p>
    </item>
    <item>
      <p>Clique no botão <media its:translate="no" type="image" src="figures/emblem-system-symbolic.svg"><span its:translate="yes">configurações</span></media> localizado ao lado da rede.</p></item>
    <item>
      <p>Clique no botão <gui>Esquecer conexão</gui>. Seu computador não tentará mais se conectar a essa rede.</p>
    </item>
  </steps>

  <p>Se você desejar se conectar posteriormente à rede que o seu computador acabou de esquecer, siga as etapas em <link xref="net-wireless-connect"/>.</p>

</page>
