<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="gl">

  <info>
    <link type="guide" xref="help-legacy"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Solicitar asistencia técnica por correo electrónico.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2023</mal:years>
    </mal:credit>
  </info>

  <title>Roldas de correo</title>

  <p>As roldas de correo son discusións baseadas en correos-e. Pode pedir axuda nas roldas de correo de GNOME. A maioría das aplicacións GNOME teñen a súa propia rolda de correo. Pode atopar un listado completo de todas as roldas de correo en <link href="http://mail.gnome.org/mailman/listinfo"/>.</p>

  <note>
    <p>Pode que precise suscribirse na rolda de correo antes de poder enviar un correo-e á mesma.</p>
  </note>

  <p>O idioma que se usa de maneira predeterminada nas roldas de correo é o inglés. Hai roldas de correo de usuarios noutros idiomas. Por exemplo, <sys>gnome-de</sys> para quen fala alemán ou <sys>gnome-gl-list</sys> para todo o relacionado con Galicia.</p>

</page>
