<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="2column task" id="power" xml:lang="gl">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8" date="2013-02-26" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <credit type="author">
      <name>Natalia Ruz</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Enerxía</title>
    <desc>Ver o estado da súa batería e a cambiar a configuración do aforro de enerxía.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2023</mal:years>
    </mal:credit>
  </info>

<title>Enerxía e batería</title>

<section id="saving" style="2column">
  <title>Preferencias de enerxía</title>
</section>

<section id="faq">
  <title>Destinos</title>
  <links type="topic" style="2column"/>
</section>

<section id="problems" style="2column">
  <info>
    <title type="link">Problemas de enerxía</title>
    <link type="guide" xref="hardware#problems"/>
    <desc>Resolución de problemas coa enerxía e baterías.</desc>
  </info>
  <title>Problemas</title>
</section>

</page>
