<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-othercountry" xml:lang="gl">

  <info>
    <link type="guide" xref="power#problems"/>
    <desc>O seu computador funcionará, pero pode precisar un cable de corrente diferente ou un adaptador de viaxe.</desc>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Proxecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2023</mal:years>
    </mal:credit>
  </info>

<title>Pode funcionar o meu equipo co suministro de enerxía de outro país?</title>

<p>Distintos países usan fontes de enerxía de diferentes voltaxes (normalmente 110V ou 220-240V)  e distintas frecuencias de AC (normalmente 50 Hz ou 60 Hz). O seu computador debería funcionar con unha fonte de enerxía nun país distinto mentres teña o adaptador de enerxía axeitado. Tamén terá que cambiar o enchufe.</p>

<p>Se ten un portátil, todo o que precisa facer é conseguir o enchufe correcto para o seu adaptador. Algúns portátiles veñen con máis dun enchufe no seu empaquetado, polo que poida que xa teña o correcto. Se non é así, conecte o seu adaptador actual nun adaptador de viaxe estándar.</p>

<p>If you have a desktop computer, you can also get a cable with a different
plug, or use a travel adapter. In this case, however, you may need to change
the voltage switch on the computer’s power supply, if there is one. Many
computers do not have a switch like this, and will happily work with either
voltage. Look at the back of the computer and find the socket that the power
cable plugs into. Somewhere nearby, there may be a small switch marked “110V”
or “230V” (for example). Switch it if you need to.</p>

<note style="warning">
  <p>Teña coidado ao cambiar os cabos de alimentación ou ao usar adaptadores de viaxe. Se é posíbel, apague todo primeiro.</p>
</note>

</page>
