<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="disk-format" xml:lang="hi">
  <info>
    <link type="guide" xref="disk"/>


    <credit type="author">
      <name>ग्नोम प्रलेखन परियोजना</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="review"/>
    <revision pkgversion="3.37.2" date="2020-08-13" status="review"/>

    <desc>Remove all of the files and folders from an external hard disk or USB
    flash drive by formatting it.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Wipe everything off a removable disk</title>

  <p>If you have a removable disk, like a USB memory stick or an external hard
 disk, you may sometimes wish to completely remove all of its files and
 folders. You can do this by <em>formatting</em> the disk — this deletes all
 of the files on the disk and leaves it empty.</p>

<steps>
  <title>Format a removable disk</title>
  <item>
    <p>Open <app>Disks</app> from the <gui>Activities</gui> overview.</p>
  </item>
  <item>
    <p>Select the disk you want to wipe from the list of storage devices on the
    left.</p>

    <note style="warning">
      <p>Make sure that you have selected the correct disk! If you choose the
      wrong disk, all of the files on the other disk will be deleted!</p>
    </note>
  </item>
  <item>
    <p>In the toolbar underneath the <gui>Volumes</gui> section, click the
    menu button. Then click <gui>Format Partition…</gui>.</p>
  </item>
  <item>
    <p>In the window that pops up, choose a file system <gui>Type</gui> for the
    disk.</p>
   <p>If you use the disk on Windows and Mac OS computers in addition to Linux
   computers, choose <gui>FAT</gui>. If you only use it on Windows, <gui>NTFS</gui>
   may be a better option. A brief description of the file system type
   will be presented as a label.</p>
  </item>
  <item>
    <p>Give the disk a name and click <gui>Next</gui> to continue and show a
    confirmation window. Check the details carefully, and click
    <gui>Format</gui> to wipe the disk.</p>
  </item>
  <item>
    <p>Once the formatting has finished, click the eject icon to safely remove
    the disk. It should now be blank and ready to use again.</p>
  </item>
</steps>

<note style="warning">
 <title>Formatting a disk does not securely delete your files</title>
  <p>Formatting a disk is not a completely secure way of wiping all of its
 data. A formatted disk will not appear to have files on it, but it is
 possible that special recovery software could retrieve the files. If you
 need to securely delete the files, you will need to use a command-line
 utility, such as <app>shred</app>.</p>
</note>

</page>
