<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="files-disc-write" xml:lang="pl">

  <info>
    <link type="guide" xref="files#more-file-tasks"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.36.1" date="2020-06-10" status="outdated"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Umieszczanie plików i dokumentów na pustej płycie CD lub DVD za pomocą nagrywarki.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

  <title>Zapisywanie plików na płycie CD lub DVD</title>

  <p>Można umieścić pliki na pustej płycie za pomocą programu do nagrywania płyt, takiego jak <app>Brasero</app>.</p>

  <section id="problem">
  <title>Jeśli płyta nie została poprawnie nagrana</title>

  <p>Czasami komputer nie nagrywa poprawnie danych, i pliki nie będą widoczne po włożeniu płyty do komputera.</p>

  <p>W takim przypadku spróbuj nagrać płytę ponownie, ale za pomocą niższej prędkości nagrywania (np. 12× zamiast 48×). Nagrywanie z mniejszą prędkością jest bardziej niezawodne.</p>

</section>

</page>
