<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="pl">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Szybkie wyświetlanie i ukrywanie podglądu dokumentów, obrazów, filmów i nie tylko.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

<title>Podgląd plików i katalogów</title>

<note if:test="platform:ubuntu" style="important">
  <p>Aby korzystać z tej funkcji, na komputerze musi być zainstalowany pakiet <app>Sushi</app>.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Zainstaluj pakiet <app>Sushi</app></link></p>
</note>

<p>Można szybko podglądać pliki bez ich otwierania w pełnoprawnym programie. Zaznacz dowolny plik i naciśnij spację. Plik zostanie otwarty w prostym oknie podglądu. Naciśnij spację ponownie, aby ukryć podgląd.</p>

<p>Wbudowany podgląd obsługuje większość formatów dokumentów, obrazów, filmów i dźwięku. W podglądzie można przewijać dokumenty, filmy i muzykę.</p>

<p>Aby wyświetlić podgląd na pełnym ekranie, naciśnij klawisz <key>F</key> lub <key>F11</key>. Naciśnij klawisz <key>F</key> lub <key>F11</key> ponownie, aby opuścić pełny ekran, lub naciśnij spację, aby całkiem wyjść z podglądu.</p>

</page>
