<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batteryslow" xml:lang="pl">

  <info>
    <link type="guide" xref="power#faq"/>
    <desc>Część laptopów celowo spowalnia działanie podczas pracy na zasilaniu z akumulatora.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <credit type="author">
      <name>Projekt dokumentacji GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

<title>Dlaczego laptop jest wolny podczas pracy na zasilaniu z akumulatora?</title>

<p>Część laptopów celowo spowalnia, kiedy działają na zasilaniu z akumulatora, aby oszczędzać prąd. Procesor w laptopie przełącza się na niższą prędkość, a procesory używają mniej prądu, kiedy działają wolniej, więc akumulator powinien wystarczyć na dłużej.</p>

<p>Ta funkcja nazywa się <em>skalowaniem częstotliwości procesora</em>.</p>

</page>
