<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-lowpower" xml:lang="pl">

  <info>
    <link type="guide" xref="power#faq"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <desc>Zupełne rozładowanie akumulatora może go uszkodzić.</desc>
    <credit type="author">
      <name>Projekt dokumentacji GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

<title>Dlaczego komputer wyłączył się, kiedy poziom naładowania akumulatora spadł do 10%?</title>

<p>Kiedy poziom naładowania akumulatora spadnie zbyt nisko, to komputer automatycznie się wyłączy. Robi tak, aby upewnić się, że akumulator nie został całkowicie rozładowany, ponieważ mu to szkodzi. Poza tym gdyby akumulator zupełnie się rozładował, komputer może nie mieć dość czasu, aby się poprawnie wyłączyć.</p>

<p>Pamiętaj, że kiedy komputer automatycznie się wyłącza, programy i dokumenty <em>nie są</em> zapisywane. Aby uniknąć utraty pracy, zapisz ją zanim poziom naładowania akumulatora spadnie za nisko.</p>

</page>
