<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="user-accounts" xml:lang="pl">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.10" date="2013-11-03" status="final"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Projekt dokumentacji GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Użytkownicy</title>
    <desc>Dodawanie i usuwanie kont użytkowników. Zmiana haseł. Nadawanie uprawnień administracyjnych.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

  <title>Konta użytkowników</title>

  <!-- TODO: add enterprise user account/login -->
  <p>Każda osoba używająca komputera powinna mieć swoje konto użytkownika. Umożliwia im to przechowywanie swoich plików w oddzielnym miejscu i wybieranie własnych ustawień. Jest to także bezpieczniejsze. Dostęp do innego konta użytkownika wymaga hasła.</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">Konta</title>
  </info>
  <title>Zarządzanie kontami użytkowników</title>
</section>

<section id="passwords" style="2column">
  <title>Hasła</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">Uprawnienia</title>
  </info>
  <title>Uprawnienia użytkowników</title>
</section>

</page>
