<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-restore" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>从备份中检索文件。</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuberry</mal:name>
      <mal:email>orzun@foxmail.com</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Victor_Trista</mal:name>
      <mal:email>ljlzjzm@hotmail.com</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

<title>恢复备份</title>

  <p>当您误删或丢失文件的时候，如果您已经进行了备份，那么就从备份中恢复文件：</p>

<list>
 <item><p>如果您只是将文件复制到了安全位置，如外部硬盘驱动器、网络中的其他计算机或 USB 驱动器，则可以将它们<link xref="files-copy">复制</link>回计算机。</p></item>

 <item><p>如果您通过 <app>Déjà Dup</app> 等备份程序进行备份，那么您应当通过同样的备份程序来恢复您的备份信息。阅读程序的帮助文档以了解怎样从备份中恢复数据，您可以在帮助文档中找到具体的步骤。</p></item>
</list>

</page>
