<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-canshareprofiles" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>共享色彩配置文件绝不是个好主意，因为硬件在随时间不断变化。</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuberry</mal:name>
      <mal:email>orzun@foxmail.com</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Victor_Trista</mal:name>
      <mal:email>ljlzjzm@hotmail.com</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

  <title>我可以共享我的色彩配置文件吗？</title>

  <p>您自己创建的色彩配置文件是特定于您校准的硬件和光照条件的。使用数百小时的 DreamColor LP2480zx 和下一序列号使用了一千小时的类似显示器就有很大不同。</p>
  <p>这意味着，如果您与他人共享您的色彩配置文件，您可能使他们<em>更接近</em>校准值，但要说他们的显示器已校准则充其量算误导。</p>
  <p>类似地，除非大家都在控制良好的室内光照条件下（窗口无阳光，黑色墙壁，日光灯等）查看和编辑图像，否则分享您在特定照明条件下创建的配置文件并没有太大的意义。</p>

  <note style="warning">
    <p>您应认真检查从厂商网站下载或为您创建的配置文件的再发布条件。</p>
  </note>

</page>
