<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="user-accounts" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.10" date="2013-11-03" status="final"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">用户</title>
    <desc>添加和删除用户帐号。更改密码。设置管理员权限。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuberry</mal:name>
      <mal:email>orzun@foxmail.com</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Victor_Trista</mal:name>
      <mal:email>ljlzjzm@hotmail.com</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

  <title>用户帐号</title>

  <!-- TODO: add enterprise user account/login -->
  <p>每个使用电脑的用户都应该有一个单独的帐号。这可以使各用户的个人文件和设置互相独立互不干扰。这样也更安全。只有知道其他用户的密码，您才能访问他们的帐号。</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">帐号</title>
  </info>
  <title>管理用户帐号</title>
</section>

<section id="passwords" style="2column">
  <title>密码</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">权限</title>
  </info>
  <title>用户权限</title>
</section>

</page>
