<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" version="1.0 if/1.0" id="a11y-braille" xml:lang="uk">

  <info>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <link type="seealso" xref="a11y-screen-reader"/>

    <revision pkgversion="3.9.92" date="2013-09-18" status="incomplete"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Jana Heves</name>
      <email>jsvarova@gnome.org</email>
    </credit>

    <desc>Користування інструментом читання з екрана <app>Orca</app> у поєднанні із оновлюваним дисплеєм Брайля.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Читання з екрана у брайлі</title>

  <p>Інструмент для читання з екрана <app>Orca</app> може показувати інтерфейс користувача на оновлюваному дисплеї Брайля. Стан встановлення пакунків Orca залежить від способу встановлення вашої системи. Якщо Orca не встановлено, спочатку встановіть її.</p>

  <p if:test="action:install"><link style="button" action="install:orca">Встановити Orca</link></p>

  <p>Зверніться до <link href="help:orca">довідки з Orca</link>, щоб дізнатися більше.</p>

</page>
