<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="uk">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Девід Кінг (David King)</name>
      <email>davidk@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Перевірка того, чи успішно створено резервну копію.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Перевірка вашої резервної копії</title>

  <p>Після того, як ви створили резервну копію ваших файлів, вам слід переконатися у тому, що резервне копіювання було успішним. Якщо під час копіювання сталися помилки, ви можете втратити важливі дані, оскільки у резервній копії може не виявитися якихось файлів.</p>

   <p>Коли ви користуєтеся <app>Файлами</app> для копіювання або пересування файлів, комп'ютер перевіряє, чи усі дані було перенесено належним чином. Втім, якщо ви переносите дані, які є дуже важливим для вас, вам варто виконати додаткові перевірки, щоб переконатися, що ваші дані було перенесено у коректний спосіб.</p>

  <p>Ви можете виконати додаткову перевірку, ознайомившись із вмістом скопійованих файлів та тек на носії призначення. Перевірка надасть вам певність щодо того, що перенесені файли і теки насправді перебувають у резервній копії. Ви матимете додаткове свідчення того, що процедура була успішною.</p>

  <note style="tip"><p>Якщо виявиться, що вам потрібно регулярно створювати резервні копії великого обсягу даних, вам простіше буде скористатися спеціалізованою програмою для роботи із резервними копіями, наприклад <app>Déjà Dup</app>. Така програма є потужнішою і надійнішою за просте копіювання файлів.</p></note>

</page>
