<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="disk-check" xml:lang="uk">
  <info>
    <link type="guide" xref="disk"/>


    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Наталія Рус Лейва (Natalia Ruz Leiva)</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="editor">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="review"/>

    <desc>Перевірка диска з метою переконатися, що диск є працездатним.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Перевірка наявності проблем із диском</title>

<section id="disk-status">
 <title>Перевірка диска</title>
  <p>До жорстких дисків вбудовано засіб автоматичної перевірки працездатності, який має назву <app>SMART</app> (Self-Monitoring, Analysis, and Reporting Technology, «Технологія самоспостереження, аналізу і звітування»), який неперервно виконує перевірку диска на потенційні проблеми. SMART також попереджає, якщо диск близький до відмови, допомагаючи вам уникнути втрати важливих даних.</p>

  <p>Хоча SMART працює автоматично, ви також можете перевірити працездатність диска за допомогою програми <app>Диски</app>:</p>

<steps>
 <title>Перевірка працездатності диска за допомогою програми «Диски»</title>

  <item>
    <p>Відкрийте вікно програми <app>Диски</app> з огляду <gui>Діяльності</gui>.</p>
  </item>
  <item>
    <p>Виберіть диск, який ви хочете перевірити, у списку пристроїв для зберігання даних ліворуч. У відповідь буде показано відомості щодо диска та його стану.</p>
  </item>
  <item>
    <p>Натисніть кнопку меню і виберіть пункт <gui>Дані SMART і самоперевірки…</gui>. У полі <gui>Загальне оцінювання</gui> має бути показано «З диском усе гаразд».</p>
  </item>
  <item>
    <p>Додаткові атрибути можна переглянути у розділі <gui>Атрибути SMART</gui> або у відповідь на натискання кнопки <gui style="button">Запустити самовипробування</gui> для виконання самоперевірки.</p>
  </item>

</steps>

</section>

<section id="disk-not-healthy">

 <title>Що робити, якщо диск несправний?</title>

  <p>Навіть якщо у пункті <gui>Загальне самооцінювання</gui> вказано, що диск <em>не є</em> справним, можливо, не варто надто цим перейматися. Втім, варто приготуватися до відмови, створивши <link xref="backup-why">резервну копію</link> з метою запобігання втраті даних.</p>

  <p>Значення поля стану «У критичному стані» вказує на те, що диск ще лишається працездатним, але його вже досить зношено і він може відмовити у найближчому майбутньому. Якщо вашому диску (або комп'ютеру) вже декілька років, найімовірніше ви побачите це повідомлення хоча б для декількох перевірок працездатності. Вам слід перейти до <link xref="backup-how">регулярного створення резервних копій важливих файлів</link> і періодично перевіряти стан диска, звертаючи увагу на його погіршення.</p>

  <p>Якщо стан погіршується, вам варто віднести комп'ютер або диск професіоналу для подальшого діагностування або ремонту.</p>

</section>

</page>
