<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="disk-capacity" xml:lang="uk">
  <info>
    <link type="guide" xref="disk"/>

    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Наталія Рус Лейва (Natalia Ruz Leiva)</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="editor">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Рафаель Фонтенелле (Rafael Fontenelle)</name>
      <email>rafaelff@gnome.org</email>
    </credit>

    <revision pkgversion="3.4.3" date="2012-06-15" status="review"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="review"/>

    <desc>Використання <gui>Аналізатора використання диска</gui>, <gui>Системного монітора</gui> та програми <gui>Використання</gui> для визначення розмірів і місткості.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Визначення залишкового місця на диску</title>

  <p>Ви можете визначити, скільки вільного місця лишилося на диску, за допомогою програм <app>Аналізатор використання диска</app>, <app>Системний монітор</app> та <app>Використання</app>.</p>

<section id="disk-usage-analyzer">
<title>Перевірка диска за допомогою «Аналізатора використання диска»</title>

  <p>Щоб визначити розмір вільного місця на диску та місткість диска за допомогою програми <app>Аналізатора використання диска</app>, виконайте такі дії:</p>

  <list>
    <item>
      <p>Відкрийте вікно програми <app>Аналізатор використання диска</app> з панелі огляду <gui>Діяльності</gui>. У вікні буде показано список місць зберігання файлів, а також дані щодо їхньої заповненості та місткості.</p>
    </item>
    <item>
      <p>Клацніть на одному з пунктів у списку для перегляду докладного резюме щодо використання відповідного сховища даних. Натисніть кнопку меню, потім виберіть пункт <gui>Просканувати теку…</gui> для сканування іншого місця зберігання даних.</p>
    </item>
  </list>
  <p>Буде показано відповідні відомості щодо даних <gui>Тека</gui>, <gui>Розмір</gui>, <gui>Вміст</gui> і момент, коли дані було востаннє <gui>Змінено</gui>. Докладніший опис можна знайти у <link href="help:baobab">підручнику з <app>Аналізатора використання диска</app></link>.</p>

</section>

<section id="system-monitor">

<title>Перевірка за допомогою «Системного монітора»</title>

  <p>Щоб визначити об'єм вільного місця на диску та місткість диска за допомогою <app>Системного монітора</app>, виконайте такі дії:</p>

<steps>
 <item>
  <p>Відкрийте вікно програми <app>Системний монітор</app> з панелі огляду <gui>Діяльності</gui>.</p>
 </item>
 <item>
  <p>Перейдіть на вкладку <gui>Файлові системи</gui>, щоб переглянути розділи системи та дані щодо використання простору на диску. Буде показано відомості щодо об'єму <gui>Загалом</gui>, <gui>Вільно</gui>, <gui>Доступно</gui> і <gui>Використано</gui>.</p>
 </item>
</steps>
</section>

<section id="usage">
<title>Перевірка за допомогою «Використання»</title>

  <p>Щоб визначити об'єм вільного місця на диску та місткість диска за допомогою <app>Використання</app>, виконайте такі дії:</p>

<steps>
  <item>
    <p>Відкрийте вікно програми <app>Використання</app> з панелі огляду <gui>Діяльності</gui>.</p>
  </item>
  <item>
    <p>Перейдіть на вкладку <gui>Сховище даних</gui>, щоб переглянути загальні дані щодо <gui>Використаного</gui> і <gui>Доступного</gui> місця на диску, а також місця, яке використано <gui>Операційною системою</gui> і типовими каталогами користувачів.</p>
  </item>
</steps>

<note style="tip">
  <p>За допомогою позначення пункту поряд із назвою каталогу можна звільнити місце на диску від каталогів і підкаталогів користувача.</p>
</note>
</section>

<section id="disk-full">

<title>Що робити, якщо диск переповнено?</title>

  <p>Якщо диск переповнено, вам слід</p>

 <list>
  <item>
   <p>Вилучити файли, які не є важливими, або файли, якими ви більше не користуєтеся.</p>
  </item>
  <item>
   <p>Створіть <link xref="backup-why">резервні копії</link> важливих файлів, які вам тимчасово непотрібні, і вилучіть їх з жорсткого диска.</p>
  </item>
 </list>
</section>

</page>
