<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="files-disc-write" xml:lang="uk">

  <info>
    <link type="guide" xref="files#more-file-tasks"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.36.1" date="2020-06-10" status="outdated"/>

    <credit type="author">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Запис файлів і документів на порожній компакт-диск або DVD за допомогою програми для запису компакт-дисків і DVD.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Запис файлів на компакт-диск або DVD</title>

  <p>Ви можете записати файли ан порожній диск за допомогою програми для запису дисків, зокрема <app>Brasero</app>.</p>

  <section id="problem">
  <title>Якщо диск не вдалося записати належним чином</title>

  <p>Іноді комп'ютер не записує дані належним чином. У результаті ви не зможете побачити файли, які ви записали на диск, коли ви вставите його до якогось іншого комп'ютера.</p>

  <p>У цьому випадку вам слід спробувати записати диск знову із використанням меншої швидкості записування, наприклад, 12x, а не 48x. Записування на повільнішій швидкості є надійнішим.</p>

</section>

</page>
