<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="uk">

  <info>
    <link type="guide" xref="help-legacy"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Батист Мілле-Матіас (Baptiste Mille-Mathias)</name>
      <email>baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Як попросити про підтримку електронною поштою.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Список листування</title>

  <p>Списки листування є обговореннями з використанням електронної пошти. Ви можете попросити про підтримку за допомогою списків листування GNOME. Майже у кожної з програм GNOME є власний список листування. Повний перелік списків листування можна знайти тут: <link href="http://mail.gnome.org/mailman/listinfo"/>.</p>

  <note>
    <p>Перш ніж надсилати повідомлення до списку листування, вам варто підписатися на нього.</p>
  </note>

  <p>Типовою мовою спілкування у списках листування є англійська. Існують списки листування користувачів іншими мовами. Наприклад, список листування <sys>gnome-de</sys> призначено для тих, хто спілкується німецькою, а список листування <sys>gnome-cl-list</sys> — для обговорення питань, пов'язаних із Чилі.</p>

</page>
