<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-security-tips" xml:lang="uk">

  <info>
    <link type="guide" xref="net-general"/>

    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Стівен Річардс (Steven Richards)</name>
      <email>steven.richardspc@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Загальні міркування, які слід взяти до уваги при користуванні інтернетом.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Підтримання безпеки в інтернеті</title>

  <p>Однією з можливих причин, через які ви користуєтеся Linux, є стійкі характеристики безпеки, якими відома ця система. Linux є відносно захищеним від зловмисного програмного забезпечення та вірусів частково через те, що у нього мала база користувачів. Ціллю вірусів стають популярні операційні системи, подібні до Windows, у яких надзвичайно багато користувачів. Крім того, Linux є дуже захищеним через його відкритість, яка надає змогу експертам змінювати і удосконалювати можливості захисту, які включено до окремих дистрибутивів.</p>

  <p>Незважаючи на заходи із забезпечення безпеки встановленої вами Linux, завжди існують вразливості. Як звичайний користувач інтернету ви є вразливим до таких речей:</p>

  <list>
    <item>
      <p>Шахрайство із виманюванням даних (сайти і повідомлення електронної пошти, метою яких є отримання конфіденційних даних шляхом обману)</p>
    </item>
    <item>
      <p><link xref="net-email-virus">Переспрямовування шахрайської пошти</link></p>
    </item>
    <item>
      <p><link xref="net-antivirus">Програми із зловмисним призначенням (віруси)</link></p>
    </item>
    <item>
      <p><link xref="net-wireless-wepwpa">Неуповноважений віддалений/локальний доступ до мережі</link></p>
    </item>
  </list>

  <p>Щоб убезпечитися в інтернеті, слід дотримуватися таких настанов:</p>

  <list>
    <item>
      <p>З осторогою ставтеся до повідомлень електронної пошти, долучень або посилань, які було надіслано вам невідомими особами.</p>
    </item>
    <item>
      <p>Якщо пропозиція на сайті є нереально вигідною або вас просять повідомити конфіденційну інформацію, яка є непотрібною за звичайних умов, двічі подумайте, перш ніж надсилати якісь відомості, і обміркуйте можливі наслідки потрапляння даних до шахраїв та інших злочинців.</p>
    </item>
    <item>
      <p>Будьте обережні із наданням <link xref="user-admin-explain">прав доступу адміністратора</link> будь-які програмі, особливо програмі, якою ви раніше не користувалися, або програмі, яка не є відомою. Надання комусь або чомусь прав доступу адміністратора надзвичайно підвищує ризик несанкціонованого доступу до вашої системи.</p>
    </item>
    <item>
      <p>Переконайтеся, що у системі працюють лише потрібні для роботи служби віддаленого доступу. Робота SSH або RDP може бути корисною, але вона відкриває доступу для зовнішнього втручання у роботу системи, якщо з'єднання не є достатньо безпечним. Вам варто скористатися <link xref="net-firewall-on-off">брандмауером</link> для удосконалення захисту вашого комп'ютера від зовнішнього втручання.</p>
    </item>
  </list>

</page>
