<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="net-wireless-noconnection" xml:lang="uk">

  <info>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" version="0.2" date="2013-11-11" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Філ Булл (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Правильність введення пароля та інші варіанти дій</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Введено правильний пароль, але попри це з'єднання не встановлюється</title>

<p>Якщо ви впевнені, що ввели правильний <link xref="net-wireless-wepwpa">пароль до бездротової мережі</link>, але, попри це, не можете успішно встановити з'єднання з бездротовою мережею, спробуйте щось із цього:</p>

<list>
 <item>
  <p>Ще раз перевірте, чи правильно введено пароль</p>
  <p>У паролях регістр символів має значення (тобто, має значення великою чи малою є літера), тому перевірте, чи не переплутали ви регістр одного із символів пароля.</p>
 </item>

 <item>
  <p>Спробуйте шістнадцятковий ключ або ключ ASCII</p>
  <p>Введений вами пароль також може бути представлено у інший спосіб — як рядок із шістнадцяткових цифр (цифр 0-9 і літер a-f), який називається ключем-паролем. У кожного пароля є еквівалентний ключ-пароль. Якщо у вас є доступ до ключа-пароля, окрім звичайного пароля, спробуйте ввести ключ-пароль. Переконайтеся, що вами правильно вибрано варіант <gui>захисту бездротової мережі</gui>, коли програма попросить вас ввести пароль (наприклад, виберіть <gui>40/128-бітний ключ WEP</gui>, якщо ви вводите 40-символьний ключ-пароль для з'єднання із шифруванням WEP).</p>
 </item>

 <item>
  <p>Спробуйте вимкнути вашу картку бездротового зв'язку, а потім увімкнути її знову</p>
  <p>Іноді картки бездротового зв'язку зависають або мають незначну проблему, яка заважає їм встановлювати з'єднання. Спробуйте вимкнути картку, а потім увімкнути її, що скинути параметри картки до типових — див. розділ <link xref="net-wireless-troubleshooting"/>, щоб дізнатися більше.</p>
 </item>

 <item>
  <p>Перевірте, чи правильно вказано тип захисту бездротового зв'язку</p>
  <p>Під час запиту щодо пароля захисту бездротової мережі ви можете вибрати тип захисту, яким будете користуватися. Переконайтеся, що вибрано той самий тип, який використано на маршрутизаторі або базовій станції бездротового зв'язку. Такий тип має бути вибрано типово, але іноді це не спрацьовує з певних причин. Якщо ви не знаєте, який тип використати, спробуйте різні варіанти.</p>
 </item>

 <item>
  <p>Перевірте, чи належним чином реалізовано підтримку вашої картки бездротового зв'язку</p>
  <p>Підтримку деяких карток бездротового зв'язку реалізовано досить добре. Система показує їх як бездротове з'єднання, але вони не можуть з'єднатися із мережею, оскільки у драйверах не передбачено такої можливості. Спробуйте занайти альтернативний драйвер або виконати додаткове налаштовування (зокрема встановлення іншої <em>мікропрограми</em>). Див. розділ <link xref="net-wireless-troubleshooting"/>, щоб дізнатися більше.</p>
 </item>

</list>

</page>
