<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-default-email" xml:lang="uk">

  <info>
    <link type="guide" xref="net-email"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-10-30" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.38.2" date="2021-03-07" status="final"/>

    <credit type="author">
      <name>Філ Булл (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Єкатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Зміна типової програми для роботи з електронною поштою за допомогою розділу <gui>Типові програми</gui> у <gui>Параметрах</gui>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Зміна поштової програми, яка використовуватиметься для написання повідомлень</title>

  <p>Коли ви натискаєте кнопку або посилання на надсилання нового повідомлення електронної пошти (наприклад, у вашому текстовому процесорі), буде відкрито типову програму для роботи з електронною поштою із порожнім повідомленням, готовим до написання. Втім, якщо у системі встановлено декілька програм для роботи з електронною поштою, може бути відкрито вікно не тієї програми, яку б ви хотіли. Усунути цю проблему можна зміною типової програми для роботи з електронною поштою:</p>

  <steps>
    <item>
      <p>Відкрийте огляд <gui xref="shell-introduction#activities">Діяльності</gui> і почніть вводити слів <gui>Типові програми</gui>.</p>
    </item>
    <item>
      <p>Натисніть пункт <gui>Типові програми</gui>.</p>
    </item>
    <item>
      <p>Змініть бажану клієнтську програму для роботи з електронною поштою за допомогою пункту <gui>Пошта</gui>.</p>
    </item>
  </steps>

</page>
