<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="net-slow" xml:lang="uk">

  <info>
    <link type="guide" xref="net-problem"/>

    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Філ Булл (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Серед інших причин можуть бути отримання великих файлів, погане з'єднання або перевантаження системи у робочі години доби.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Інтернет працює повільно</title>

  <p>Якщо інтернет працює повільно, причин уповільнення передавання даних може бути декілька.</p>

  <p>Спробуйте закрити вікно вашого браузера, а потім відкрити його знову, або від'єднатися від інтернету із з'єднатися знову. (Ці дії відновлюють початкові значення багатьох параметрів, які можуть уповільнювати роботу інтернету.)</p>

  <list>
    <item>
      <p><em style="strong">Перевантаження у робочий час</em></p>
      <p>Надавачі послуг інтернету типово налаштовують інтернет-з'єднання так, що вони є спільними для декількох користувачів. Навіть попри те, що ви з'єднуєтеся окремо, за допомогою вашої власної телефонної лінії або кабельного з'єднання, з'єднання із рештою інтернету телефонним каналом зв'язку може бути насправді спільним. Якщо це так, і багато з ваших сусідів користуються інтернетом одночасно із вами, ваша швидкість обміну даними з інтернетом може уповільнитися. Найімовірніше, таке траплятиметься, коли ваш сусіди користуються інтернетом (наприклад, увечері).</p>
    </item>
    <item>
      <p><em style="strong">Одночасне отримання великих масивів даних</em></p>
      <p>Якщо ви або хтось інший, хто користується вашим інтернет-з'єднанням, отримує декілька файлів одночасно або переглядає відео, канал інтернет-з'єднання може бути недостатньо широким для задоволення усіх потреб. У цьому випадку ви відчуєте уповільнення.</p>
    </item>
    <item>
      <p><em style="strong">Ненадійне з'єднання</em></p>
      <p>Деякі інтернет-з'єднання є просто ненадійними, особливо тимчасові або з'єднання в областях із високим навантаженням. Якщо ви перебуваєте у кав'ярні із багатьма відвідувачами або конференц-центрі, інтернет-з'єднання може бути перевантаженим або просто ненадійним.</p>
    </item>
    <item>
      <p><em style="strong">Слабкий сигнал бездротового з'єднання</em></p>
      <p>Якщо ви користуєтеся з'єднанням із інтернетом бездротовою мережею (Wi-Fi), погляньте на піктограму на верхній панелі — чи є достатньо потужним сигнал бездротового зв'язку. Якщо це не так, інтернет-зв'язок може бути повільним, оскільки сигнал мережі є недостатньо потужним.</p>
    </item>
    <item>
      <p><em style="strong">Використання повільного мобільного інтернет-з'єднання</em></p>
      <p>Якщо ви користуєтеся мобільним інтернет-з'єднанням і зауважуєте, що зв'язок ним є повільним, можливо, ви перебуваєте у місці, де умови отримання сигналу є поганими. Якщо таке трапляється, інтернет-з'єднання автоматично перемикається із режиму «мобільного широкосмугового радіозв'язку», подібного до 3G, у режим надійнішого, але повільнішого з'єднання, зокрема GPRS.</p>
    </item>
    <item>
      <p><em style="strong">Проблеми із браузером</em></p>
      <p>Іноді у браузерів виникають проблеми, які призводять до уповільнення їхньої роботи. Причини можуть бути доволі різними: можливо, ви відвідуєте сайт, завантаження якого призводить до проблем, або, наприклад, ви могли зіткнутися із проблемами, бо браузер працює надто довго. Спробуйте закрити усі вікна браузера, а потім відкрити вікно браузера знову, — можливо, це дасть змогу вирішити проблему.</p>
    </item>
  </list>

</page>
