<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-constantfan" xml:lang="uk">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Можливо, не встановлено певного програмного забезпечення для керування вентилятором охолодження або ваш ноутбук перегрівся.</desc>

    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Вентилятор охолодження ноутбука працює, не скидаючи обертів</title>

<p>Якщо вентилятор системи охолодження у вашому ноутбуці без упину крутиться на повних обертах, причиною може бути те, що підтримка обладнання системи охолодження ноутбука у Linux є неповною. Для ефективного керування вентиляторами охолодження деяких ноутбуків потрібне спеціалізоване програмне забезпечення, але це програмне забезпечення може бути не встановлено (або воно може бути взагалі недоступним для Linux), тому вентилятори увесь час працюють на повну швидкість.</p>

<p>Якщо це саме так, можливо, ви можете змінити деякі параметри або встановити додаткове програмне забезпечення, яка надасть вам повний контроль над вентиляторами. Наприклад, для керування вентиляторами деяких ноутбуків Sony VAIO можна встановити <link href="http://vaio-utils.org/fan/">vaiofand</link>. Встановлення відповідного програмного забезпечення є досить складною процедурою, конкретні кроки якої залежать від виробника і моделі ноутбука, тому вам варто пошукати специфічних порад щодо того, як зробити це на вашому комп'ютері.</p>

<p>Крім того, можливо, ваш ноутбук просто надмірно гріється. Це не обов'язково означає, що він перегрівається; можливо, йому просто потрібна неперервна робота вентиляторів, щоб підтримувати достатньо низьку температуру. Якщо це так, у вас мало шансів зробити щось таке, щоб вентилятор не крутився на повних обертах увесь час. Іноді може допомогти купівля і встановлення додаткових засобів охолодження.</p>

</page>
