<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" version="1.0 if/1.0" id="a11y-braille" xml:lang="hr">

  <info>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <link type="seealso" xref="a11y-screen-reader"/>

    <revision pkgversion="3.9.92" date="2013-09-18" status="incomplete"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Jana Heves</name>
      <email>jsvarova@gnome.org</email>
    </credit>

    <desc>Korištenje <app>Orca</app> čitača zaslona s osvježivim Brailleovim zaslonom.</desc>
  </info>

  <title>Čitanje zaslona na Brailleovom pismu</title>

  <p>Čitač zaslona <app>Orca</app> može prikazati korisničko sučelje na osvježivom Brailleovom zaslonu. Ovisno o tome kako ste instalirali svoj sustav, možda nemate instaliranu Orcu. Ako ne, prvo instalirajte Orcu.</p>

  <p if:test="action:install"><link style="button" action="install:orca">Instaliraj Orcu</link></p>

  <p>Pogledajte <link href="help:orca">Orca priručnik</link> za više informacija.</p>

</page>
