<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-provider-not-available" xml:lang="hr">

  <info>
    <link type="guide" xref="accounts"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Klein Kravis</name>
      <email>kleinkravis44@outlook.com</email>
      <years>2020</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Što ako mrežna usluga nije navedena?</desc>
  </info>

  <title>Zašto moja vrsta računa nije na popisu?</title>

  <p>Podrška za vašu omiljenu mrežnu uslugu treba nekoga tko će ju razvijati. Trenutno su podržane samo navedene vrste računa.</p>

  <note style="advanced">
    <p>Ako ste zainteresirani za dodavanje podrške za druge usluge, kontaktirajte razvijatelje na <link href="https://gitlab.gnome.org/GNOME/gnome-online-accounts/-/issues/new"> pratitelju grešaka</link>.</p>
  </note>

</page>
