<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="hr">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Brzi prikaz i sakrivanje pregleda dokumenata, slika, snimaka i još mnogo toga.</desc>
  </info>

<title>Pregled datoteka i mapa</title>

<note if:test="platform:ubuntu" style="important">
  <p>Morate imati instaliran <app>Sushi</app> na svojem računalu kako bi obavljali ove korake.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Instaliraj <app>Sushi</app></link></p>
</note>

<p>Možete brzo pregledati datoteke bez otvaranja u aplikaciji. Odaberite bilo koju datoteku i pritisnite Space tipku. Datoteka će se otvoriti u jednostavnom prozoru za pregled. Ponovno pritisnite Space tipku za zatvaranje pregleda.</p>

<p>Ugrađeni pregled podržava većinu formata datoteka za dokumente, slike, snimke i zvuk. U pregledu se možete kretati tekstom kroz svoje dokumente ili premotavati snimke i zvučne zapise.</p>

<p>Za prikaz pregleda preko cijelog zaslona, pritisnite <key>F</key> ili <key>F11</key> tipku. Pritisnite <key>F</key> ili <key>F11</key> ponovno za napuštanje cjelozaslonskog prikaza, ili pritisnite Space tipku za zatvaranje pregleda.</p>

</page>
