<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-default-email" xml:lang="hr">

  <info>
    <link type="guide" xref="net-email"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-10-30" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.38.2" date="2021-03-07" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Promijenite zadani klijent e-pošte u <gui>Zadanim aplikacijama</gui> u <gui>Postavkama</gui>.</desc>
  </info>

  <title>Promjena aplikacije za sastavljanje e-pošte</title>

  <p>Kada kliknete na tipku ili poveznicu za slanje nove e-pošte (primjerice, u vašoj aplikaciji za obradu teksta), vaša će se zadana aplikacija e-pošte otvoriti s praznom porukom, spremnom za pisanje. Ipak, ako imate instalirano više od jedne aplikacije za e-poštu, može se otvoriti pogrešna aplikacija za e-poštu. To možete popraviti promjenom zadane aplikacije za e-poštu:</p>

  <steps>
    <item>
      <p>Otvorite <gui xref="shell-introduction#activities">Aktivnosti</gui> pregled i započnite upisivati <gui>Zadane aplikacije</gui>.</p>
    </item>
    <item>
      <p>Kliknite na <gui>Zadane aplikacije</gui>.</p>
    </item>
    <item>
      <p>Odaberite koji klijent e-pošte želite koristiti po zadanome promjenom <gui>Pošta</gui> mogućnosti.</p>
    </item>
  </steps>

</page>
