<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-constantfan" xml:lang="hr">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Određni softver za upravljanje ventilatorom možda nedostaje ili se prijenosnik pregrijao.</desc>

    <credit type="author">
      <name>Projekt GNOME dokumentacije</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Ventilator prijenosnika stalno radi</title>

<p>Ako ventilator za hlađenje u vašem prijenosniku stalno radi, moguće je da hardver koji upravlja rashladnim sustavom u prijenosniku nije dobro podržan u Linuxu. Pojedini prijenosnici trebaju dodatan softver za učinkovito upravljanje svojim ventilatorima, ali taj softver možda nije instaliran (ili uopće nije dostupan za Linux) pa ventilatori stalno rade punom brzinom cijelo vrijeme.</p>

<p>Ako je to slučaj, možda ćete moći promijeniti određene postavke ili instalirati dodatni softver koji omogućuje potpuno upravljanje ventilatorom. Primjerice, <link href="http://vaio-utils.org/fan/">vaiofand</link> se može instalirati za upravljanje ventilatorom pojedinih Sony VAIO prijenosnika. Instaliranje ovog softvera je tehnički proces koji ovisi o proizvođaču i modelu vašeg prijenosnika, stoga trebate potražiti konkretan savjet kako to učiniti za svoje računalo.</p>

<p>Moguće je da vaš prijenosnik samo proizvodi mnogo topline. To ne znači nužno da se pregrijava; možda ventilator jednostavno treba stalno raditi punom brzinom kako bi ostao dovoljno hladan. Ako je to slučaj, nemate drugog izbora nego pustiti ventilator da radi punom brzinom cijelo vrijeme. Ponekada možete kupiti i dodatnu opremu za hlađenje prijenosnika koja može pomoći.</p>

</page>
