<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-lowpower" xml:lang="hr">

  <info>
    <link type="guide" xref="power#faq"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <desc>Dopustiti potpuno pražnjenje baterija je loše za nju.</desc>
    <credit type="author">
      <name>Projekt GNOME dokumentacije</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Zašto se računalo isključilo kada je baterija dosegla 10%?</title>

<p>Kada razina napunjenosti baterije postane preniska, vaše računalo će se automatski isključiti. Automatski se isključuje kako se baterija ne bi potpuno ispraznila, jer je to loše za bateriju. Ako bi se baterija jednostavno ispraznila, računalo se ne bi imalo vremena ni pravilno isključiti.</p>

<p>Zapamtite, kada se vaše računalo automatski isključi, vaše aplikacije i dokumenti <em>nisu</em> spremljeni. Kako bi izbjegli gubitak svoga rada, spremite ga prije nego što baterija postane preniska.</p>

</page>
