<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="mouse-mousekeys" xml:lang="sv">

  <info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="pointing"/>

    <revision pkgversion="3.8" date="2013-03-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-08-20" status="review"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013, 2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
    <desc>Aktivera mustangenter för att styra musen med det numeriska tangentbordet.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2014, 2015, 2016, 2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016, 2017</mal:years>
    </mal:credit>
  </info>

  <title>Klicka och flytta muspekaren med det numeriska tangentbordet</title>

  <p>Om du har svårt att använda en mus eller andra pekdon kan du styra muspekaren via det numeriska tangentbordet på ditt tangentbord. Denna funktion kallas <em>mustangenter</em>.</p>

  <steps>
    <item>
      <p>Öppna översiktsvyn <gui xref="shell-introduction#activities">Aktiviteter</gui> och börja skriv <gui>Hjälpmedel</gui>.</p>
      <p>Du kan nå översiktsvyn <gui>Aktiviteter</gui> genom att trycka på den, genom att flytta muspekaren till det övre, vänstra hörnet av skärmen, genom att trycka <keyseq><key>Ctrl</key><key>Alt</key><key>Tabb</key></keyseq> följt av <key>Retur</key> eller genom att trycka på tangenten <key xref="keyboard-key-super">Super</key>.</p>
    </item>
    <item>
      <p>Klicka på <gui>Hjälpmedel</gui> för att öppna panelen.</p>
    </item>
    <item>
      <!-- TODO investigate keyboard navigation, because the arrow keys show no
           visual feedback, and do not seem to work. -->
      <p>Använd upp- och neråtpiltangenterna för att välja <gui>Mustangenter</gui> i avsnittet <gui>Peka och klicka</gui> och tryck sedan på <key>Retur</key> för att slå på <gui>Mustangenter</gui>.</p>
    </item>
    <item>
      <p>Säkerställ att <key>Num Lock</key> är avstängd. Du kommer nu kunna flytta muspekaren med den numeriska delen av tangentbordet.</p>
    </item>
  </steps>

  <p>Det numeriska tangentbordet består av en mängd siffertangenter på ditt tangentbord, vanligtvis arrangerade som en fyrkant. Om du har ett tangentbord utan en numerisk del (som till exempel tangentbordet på en bärbar dator) kan du vara tvungen att hålla ner funktionstangenten (<key>Fn</key>) och använda vissa andra knappar på ditt tangentbord som ett numeriskt tangentbord. Om du använder denna funktion ofta med en bärbar dator kan du köpa externa numeriska USB- eller Bluetooth-tangentbord.</p>

  <p>Varje siffra på det numeriska tangentbordet motsvarar en riktning. Till exempel om du trycker på <key>8</key> flyttar markören uppåt och om du trycker på <key>2</key> flyttar den neråt. Tryck på <key>5</key> för att klicka en gång med musen eller klicka på den två gånger snabbt för att dubbelklicka.</p>

  <p>De flesta tangentbord har en speciell tangent som låter dig högerklicka. Ibland kallas den <key xref="keyboard-key-menu">Meny</key>-tangenten. Notera dock att denna tangent reagerar på var tangentbordsfokus är, inte var muspekaren är. Se <link xref="a11y-right-click"/> för information om hur du högerklickar genom att hålla ner <key>5</key> eller den vänstra musknappen.</p>

  <p>Om du vill använda det numeriska tangentbordet för att skriva siffror medan mustangenter är aktiverade, slå på <key>Num Lock</key>. Musen kan dock inte styras med det numeriska tangentbordet medan <key>Num Lock</key> är på.</p>

  <note>
    <p>De normala siffertangenterna, i en rad i tangentbordets överkant, kommer inte styra muspekaren. Bara det numeriska tangentbordet kan användas till det här.</p>
  </note>

</page>
