<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="appearance" xml:lang="uk">

  <info>
    <link type="guide" xref="index" group="appearance"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="desktop-shield">Зміна щитка екрана блокування</link>, <link xref="desktop-favorite-applications">типові улюблені програми</link>, <link xref="desktop-lockscreen">блокування екрана у режимі бездіяльності</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  </info>

  <title>Вигляд</title>
</page>
