<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="login-enterprise" xml:lang="uk">

  <info>
    <link type="guide" xref="login#management"/>
    <revision pkgversion="3.12" date="2014-01-28" status="draft"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Використання ваших реєстраційних даних з домену Active Directory або IPA для входу до GNOME.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  </info>

  <title>Використання промислових реєстраційних даних для входу до GNOME</title>
  
  <p>Якщо у вашій мережі доступним є домен Active Directory або IPA, і у вас є обліковий запис домену, ви можете скористатися реєстраційними даними домену для входу до GNOME.</p>
  <p>Якщо комп'ютер було успішно налаштовано на використання облікових записів доменів, користувачі можуть входити до GNOME за допомогою їхніх облікових записів. У рядку запиту імені користувача введіть назву облікового користувача домену з наступним символом <sys>@</sys> і назвою вашого домену. Наприклад, якщо вашою назвою домену є <var>example.com</var>, а іменем користувача — <var>User</var>, введіть таке:</p>
  <screen><input>User@example.com</input></screen>
  <p>У випадках, коли комп'ютер вже налаштовано для облікових записів домену, ви маєте побачити зручну підказку, яка описує формат введення імені користувача.</p>

  <section id="enterprise-login-welcome-screens">
    <title>Використання промислових реєстраційних даних у вікнах вітання</title>
    <p>Якщо вами ще не налаштовано комп'ютер на використання промислових реєстраційних даних, ви можете зробити це за допомогою екранів <gui>Ласкаво просимо</gui>, які є частиною програми <app>Перший запуск GNOME</app>.</p>
    <steps>
    <title>Налаштовування промислових реєстраційних даних</title>
      <item>
        <p>У вікні вітання <gui>Вхід</gui> виберіть <gui>Налаштувати комерційний вхід</gui>.</p>
      </item>
      <item>
        <p>Введіть назву вашого домену у полі <gui>Домен</gui>, якщо його ще не заповнено автоматично.</p>
      </item>
      <item>
        <p>Введіть у відповідні поля ваші дані щодо облікового запису користувача домену і пароля.</p>
      </item>
      <item>
        <p>Натисніть кнопку <gui>Далі</gui>.</p>
      </item>
    </steps>
    <p>Залежно від налаштувань домену, може бути показано запит щодо назви облікового запису адміністратора домену і пароля для продовження роботи.</p>
  </section>
  <section id="enterprise-login-change-to">
    <title>Перехід на використання промислових реєстраційних даних для входу до GNOME</title>
    <p>Якщо ви вже виконали початкове налаштовування і хочете входити з облікового запису домену до GNOME, зробити це можна з панелі «Користувачі» у програмі «Параметри GNOME».</p>
  <steps>
    <title>Налаштовування промислових реєстраційних даних</title>
    <item>
      <p>Відкрийте огляд <gui href="help:gnome-help/shell-terminology">Діяльності</gui> і почніть введення слова <gui>Користувачі</gui>.</p>
    </item>
    <item>
      <p>Натисніть пункт <gui>Користувачі</gui>, щоб відкрити панель.</p>
    </item>
    <item>
      <p>Натисніть кнопку <gui>Розблокувати</gui> і введіть пароль адміністратора комп'ютера.</p>
    </item>
    <item>
      <p>Натисніть кнопку <gui>[+]</gui> у нижній лівій частині вікна.</p>
    </item>
    <item>
      <p>Натисніть кнопку <gui>Комерційний вхід</gui>.</p>
    </item>
    <item>
      <p>Введіть домен, ім'я користувача і пароль до вашого промислового облікового запису і натисніть кнопку <gui>Додати</gui>.</p>
   </item>
  </steps>
  <p>Залежно від налаштувань домену, може бути показано запит щодо назви облікового запису адміністратора домену і пароля для продовження роботи.</p>
  </section>
  <section id="enterprise-login-troubleshoot">
    <title>Усування проблем та додаткові налаштування</title>
    <p>Для діагностики можливості комерційного входу можна скористатися командою <cmd>realm</cmd> і її різноманітними підкомандами. Наприклад, щоб переглянути, чи було налаштовано комп'ютер на комерційний вхід, віддайте таку команду:</p>
    <screen><output>$ </output><input>realm list</input></screen>
    <p>Адміністраторам мережі варто попередньо долучити робочі станції до відповідного домену. Зробити це можна за допомогою команди запуску <cmd>realm join</cmd> або віддати команду <cmd>realm join</cmd> в автоматичному режимі зі скрипту.</p>
  </section>
  <section id="enterprise-login-more-information">
     <title>Отримання додаткових відомостей</title>
   <list>
    <item>
      <p>У <link href="http://www.freedesktop.org/software/realmd/docs/">Підручнику з адміністрування</link> realmd наведено докладніші відомості щодо використання можливості комерційного входу.</p>
    </item>
   </list>
  </section>

</page>
