<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="software" xml:lang="uk">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="extensions">Розширення GNOME Shell</link>, <link xref="mime-types">типи MIME</link>, <link xref="mime-types-application">перевизначення типових програм</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  </info>

  <title>Програмне забезпечення</title>

<!--<section id="application">
  <title>Application</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="extension">
  <title>Розширення</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Керування</title>
  <links style="2column" type="topic"/>
</section>

</page>
