<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="ta">

  <info>
    <link type="guide" xref="help-legacy"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>டிஃபானி அன்ட்டொபோல்ஸ்கி</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>பேப்டிஸ்ட் மில்-மேத்தியாஸ்</name>
      <email>baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>மின்னஞ்சல் மூலம் ஆதரவு பெறுதல்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>மின்னஞ்சல் பட்டியல்</title>

  <p>அஞ்சல் பட்டியல்கள் என்பவை மின்னஞ்சல் மூலமான கலந்துரையாடல்களாகும். நீங்கள் GNOME அஞ்சல் பட்டியல்களைப் பயன்படுத்தி ஆதரவு கேட்க முடியும். கிட்டத்தட்ட ஒவ்வொரு GNOME பயன்பாட்டுக்கும் என ஒரு தனி அஞ்சல் பட்டியல் இருக்கும். அஞ்சல் பட்டியல்களின் முழுமையான பட்டியலை இங்கு காணலாம்: <link href="http://mail.gnome.org/mailman/listinfo"/></p>

  <note>
    <p>நீங்கள் ஒரு அஞ்சல் பட்டியலுக்கு அஞ்சல் அனுப்ப வேண்டுமானால் அதற்கு முன் அந்த பட்டியலுக்கு சந்தா பெற வேண்டும்.</p>
  </note>

  <p>அஞ்சல் பட்டியல்களில் பயன்படுத்தப்படும் முன்னிருப்பு மொழி ஆங்கிலமாகும். பிற மொழிகளுக்கு பயனர் அஞ்சல் பட்டியல்களும் உள்ளன. உதாரணமாக, ஜெர்மன் மொழியினருக்கென <sys>gnome-de</sys> என்ற பட்டியலும் சிலி தொடர்பான பேச்சுகளுக்கு <sys>gnome-cl-list</sys> என ஒரு பட்டியலும் உள்ளது.</p>

</page>
