<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-booklet" xml:lang="ta">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>டிஃபானி அன்ட்டொபோல்ஸ்கி</name>
      <email>tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>A4 அல்லது Letter-sized தாளைப் பயன்படுத்தி ஒரு மடிக்கப்பட்ட, பல பக்க புக்லெட்டை எப்படி அச்சிடுவது.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>ஒரு புக்லெட்டை அச்சிடுதல்</title>

  <p>ஒரு PDF இலிருந்து ஒரு புக்லெட்டை அச்சிடலாம்.</p>

  <p><app>LibreOffice</app> ஆவணத்திலிருந்து ஒரு புக்லெட்டை அச்சிட, முதலில் <guiseq><gui>கோப்பு</gui><gui>PDF ஆக ஏற்றுமதி செய்…</gui></guiseq> ஐ தேர்வு செய்து அதை ஒரு PDF ஆக ஏற்றுமதி செய்யவும். உங்கள் ஆவணத்தின் பக்கங்களின் எண்ணிக்கை 4 இன் மடங்காக இருக்க வேண்டும் (4, 8, 12, 16,…). 3 வரையிலான காலி பக்கங்களைச் சேர்க்க வேண்டி இருக்கலாம்.</p>

  <p>உங்கள் PDF ஆவணத்தில் உள்ள பக்கங்களின் எண்ணிக்கை 4 இன் மடங்குகளாக இல்லாவிட்டால், பக்கங்களின் எண்ணிக்கை 4 இன் மடங்காக மாற்ற, தேவையான அளவு காலி பக்கங்களை சேர்க்க வேண்டும் (1,2 அல்லது 3). இதை நீங்கள் இப்படிச் செய்யலாம்:</p>

  <steps>
    <item>
      <p>தேவையான எண்ணிக்கையிலான காலி பக்கங்களைக் கொண்ட ஒரு <app>LibreOffice</app> ஆவணத்தை உருவாக்கவும்.</p>
    </item>
    <item>
      <p><guiseq><gui>கோப்பு</gui> <gui>PDF ஆக ஏற்றுமதி செய்…</gui></guiseq> என்பதை தேர்வு செய்து, காலி பக்கங்களை ஒரு PDF ஆக ஏற்றுமதி செய்யவும்.</p>
    </item>
    <item>
      <p><app>PDF-Shuffler</app> அல்லது <app>PDF Mod</app> ஐப் பயன்படுத்தி, காலி பக்கங்களை கடைசியில் வைத்து காலி பக்கங்களை PDF ஆவணத்துடன் ஒன்றிணைக்கவும்.</p>
    </item>
  </steps>

  <p>கீழே உள்ள பட்டியலில் இருந்து நீங்கள் பயன்படுத்தப்போகும் அச்சுப்பொறி வகையைத் தேர்ந்தெடுக்கவும்:</p>

</page>
