<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="printing-cancel-job" xml:lang="ta">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.10.2" date="2013-11-03" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>ஃபில் புல்</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>ஜிம் காம்ப்பெல்</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>ஜனா ஸ்வரோவா</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>நிலுவையிலுள்ள ஒரு அச்சுப் பணியை ரத்து செய்து அதை வரிசையிலிருந்து அகற்றுதல்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>அச்சுப் பணியை ரத்து செய்தல், இடைநிறுத்துதல் அல்லது விடுவித்தல்</title>

  <p>அச்சுப்பொறி அமைவுகளைப் பயன்படுத்தி நீங்கள் ஒரு அச்சுப் பணியை ரத்து செய்து அதை வரிசையில் இருந்து அகற்ற முடியும்.</p>

  <section id="cancel-print-job">
    <title>அச்சுப் பணியை ரத்து செய்தல்</title>

  <p>தவறுதலாக நீங்கள் ஒரு ஆவணத்தை அச்சிடத் தொடங்கிவிட்டால், நீங்கள் அச்சுப்பணியை ரத்து செய்து தாள் அல்லது இங்க் வீணாகாமல் தடுக்கலாம்.</p>

  <steps>
    <title>ஒரு அச்சு பணியை எப்படி ரத்து செய்வது:</title>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Printers</gui> to open the panel.</p>
    </item>
    <item>
      <p><gui>அச்சுப்பொறிகள்</gui> உரையாடலின் வலப்புறமுள்ள <gui>பணிகளைக் காண்பி</gui> பொத்தானை சொடுக்கவும்.</p>
    </item>
    <item>
      <p>Cancel the print job by clicking the stop button.</p>
    </item>
  </steps>

  <p>If this does not cancel the print job like you expected, try holding down
  the <em>cancel</em> button on your printer.</p>

  <p>As a last resort, especially if you have a big print job with a lot of
  pages that will not cancel, remove the paper from the printer’s paper input
  tray. The printer should realize that there is no paper and will stop
  printing. You can then try canceling the print job again, or try turning the
  printer off and then on again.</p>

  <note style="warning">
    <p>Be careful that you don’t damage the printer when removing the paper,
    though. If you would have to pull hard on the paper to remove it, you
    should probably just leave it where it is.</p>
  </note>

  </section>

  <section id="pause-release-print-job">
    <title>அச்சுப் பணியை இடைநிறுத்துதல் மற்றும் விடுவித்தல்</title>

  <p>ஒரு அச்சுப் பணியை நீங்கள் இடைநிறுத்த அல்லது விடுவிக்க விரும்பினால், அச்சுப்பொறி அமைவுகளில் உள்ள பணிகள் உரையாடலுக்குச் சென்று அதற்குரிய பொத்தானை அழுத்தி அதைச் செய்ய முடியும்.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Printers</gui> to open the panel.</p>
    </item>
    <item>
      <p><gui>அச்சுப்பொறிகள்</gui> உரையாடலின் வலப்புறம் உள்ள <gui>பணிகளைக் காண்பி</gui> பொத்தானை சொடுக்கி உங்கள் தேவைக்கேற்ப அச்சுப் பணியை இடைநிறுத்தலாம் அல்லது விடுவிக்கலாம்.</p>
    </item>
  </steps>

  </section>

</page>
