<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="nl">

  <info>

    <title type="link" role="trail">Handleiding Systeembeheer</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Een handleiding voor Gnome 3-systeembeheerders.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nathan Follens</mal:name>
      <mal:email>nfollens@gnome.org</mal:email>
      <mal:years>2022.</mal:years>
    </mal:credit>
  </info>

  <title>Handleiding Gnome-systeembeheer</title>

  <links type="topic" groups="#first"/>

  <links style="toronto" type="topic" groups="user-settings appearance #default"/>

  <links type="topic" groups="#last"/>

</page>
