<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-2sided" xml:lang="as">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>ফিল বুল</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>জিম কেম্পবেল</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>পৃষ্ঠাৰ দুয়ো কাষত, অথবা প্ৰতি পাত একাধিক পৃষ্ঠাসমূহ প্ৰিন্ট কৰক।</desc>
  </info>

  <title>দুয়ো-পৃষ্ঠা অথবা একাধিক-পৃষ্ঠাৰ বিন্যাসসমূহ প্ৰিন্ট কৰক</title>

  <p>কাগজৰ প্ৰতি পৃষ্ঠাত প্ৰিন্ট কৰিবলৈ:</p>

  <steps>
    <item>
      <p>Open the print dialog by pressing
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p>প্ৰিন্ট উইন্ডোৰ <gui>পৃষ্ঠা সংস্থাপন</gui> টেবলৈ যাওক আৰু <gui>দুই-কাষ</gui> ড্ৰপ-ডাউন তালিকাৰ পৰা এটা বিকল্প বাছক। যদি বিকল্প অসামৰ্থবান থাকে, তেন্তে আপোনাৰ কমপিউটাৰৰ বাবে দুই কাষৰ প্ৰিন্টিং উপলব্ধ নহয়।</p>
      <p>Printers handle two-sided printing in different ways. It is a good
      idea to experiment with your printer to see how it works.</p>
    </item>
    <item>
      <p>আপোনাৰ পাতৰ প্ৰতি <em>ফাল</em> দস্তাবেজৰ এটাতকৈ অধিক পৃষ্ঠা প্ৰিন্ট কৰিব পাৰিব। এনেকুৱা কৰিবলৈ <gui>প্ৰত্যক ফালত পৃষ্ঠাৰ সংখ্যা</gui> বিকল্প ব্যৱহাৰ কৰক।</p>
    </item>
  </steps>

  <note>
    <p>এই বিকল্পসমূহৰ উপলব্ধতা আপোনাৰ প্ৰিন্টাৰৰ ধৰণ, লগতে আপুনি ব্যৱহাৰ কৰা এপ্লিকেচনৰ ওপৰ নিৰ্ভৰ কৰিব। এই বিকল্প সদায় উপলব্ধ নাথাকিব পাৰে।</p>
  </note>

</page>
