<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="sound-alert" xml:lang="as">

  <info>
    <link type="guide" xref="media#sound"/>

    <revision version="gnome:40" date="2021-02-26" status="candidate"/>
    <revision version="gnome:42" status="final" date="2022-02-26"/>

    <credit type="author">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>একাটেৰিনা গেৰাচিমভা</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>বাৰ্তাসমূহৰ বাবে শব্দ বাছক, সতৰ্কৰ ভলিউম সংহতি কৰক, অথবা সতৰ্কৰ শব্দবোৰ অসামৰ্থবান কৰক।</desc>
  </info>

  <title>সতৰ্ক শব্দ বাছক অথবা অসামৰ্থবান কৰক</title>

  <p>আপোনাৰ কমপিউটাৰে কিছুমান বাৰ্তা আৰু ঘটনাৰ বাবে এটা সাধাৰণ সতৰ্ক শব্দ বজাব। আপুনি সতৰ্কৰ বাবে ভিন্ন শব্দ ক্লিপ ব্যৱহাৰ কৰিব পাৰিব, আপোনাৰ চিস্টেম ভলিউমৰ সূকীয়াভাৱে সতৰ্ক ভলিউম সংহতি কৰিব পাৰিব, অথবা সতৰ্ক শব্দ সম্পূৰ্ণভাৱে অসামৰ্থবান কৰিব পাৰিব।</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Sound</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Sound</gui> to open the panel.</p>
    </item>
    <item>
      <p>In the <gui>Alert Sound</gui> section, select an alert sound. Each
      sound will play when you click on it so you can hear how it sounds.</p>
    </item>
  </steps>

  <p>Use the volume slider for <gui>System Sounds</gui> in the <gui>Volume
  Levels</gui> section to set the volume of the alert sound. Click the speaker
  button at the end of the slider to mute or unmute the alert sound. This will
  not affect the volume of your music, movies, or other sound files.</p>

</page>
