<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="translate" xml:lang="as">

  <info>
   <link type="guide" xref="more-help"/>
   <link type="seealso" xref="get-involved"/>
    <desc>এই বিষয়বোৰ অনুবাদ কৰাত কেনেকৈ আৰু ক'ত সহায় কৰিব লাগিব।</desc>
    <revision pkgversion="3.11.4" version="0.1" date="2014-01-26" status="review"/>

    <credit type="author copyright">
      <name>টিফানি এন্টপলস্কি</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
     <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
     <credit type="editor">
      <name>পিটাৰ ক'ভাৰ</name>
      <email>pknbe@volny.cz</email>
    </credit>
    <credit type="editor">
        <name>Zaria</name>
        <email>zaria@vivaldi.net</email>
    </credit>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>অনুবাদসমূহ উন্নত কৰিবলৈ অংশগ্ৰহণ কৰক</title>

<p>
  GNOME’s help is being translated by a world-wide volunteer community, and
  there are <link href="https://l10n.gnome.org/module/gnome-user-docs/">many
  languages</link> for which translations are still needed.
</p>
<p>
  To start translating,
  <link href="https://l10n.gnome.org/register/">create an account</link> and
  join the <link href="https://l10n.gnome.org/teams/">translation team</link> for
  your language. This will give you the ability to upload new translations.
</p>
<p>
    Connect with other GNOME translators in the <link href="https://matrix.to/#/#i18n:gnome.org">#i18n:gnome.org</link> Matrix room. See the <link xref="help-matrix">Get help with Matrix</link> page for more information. If you prefer, there is also an IRC channel, #gnome-i18n, on the <link xref="help-irc">GNOME IRC server</link>. As the people in these rooms are located across the world, it may take a moment to get a response.
</p>
<p>
  Alternatively, you can contact the Internationalization Team using
  <link href="https://discourse.gnome.org/tag/i18n">GNOME Discourse</link>.
</p>

</page>
