<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-notspecifiededid" xml:lang="pt">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="guide" xref="color-gettingprofiles"/>
    <link type="guide" xref="color-why-calibrate"/>
    <desc>Perfis padrões de monitores não têm uma data de calibração.</desc>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tiago Santos</mal:name>
      <mal:email>tiagofsantos81@sapo.pt</mal:email>
      <mal:years>2014, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Carvalho</mal:name>
      <mal:email>hugokarvalho@hotmail.com</mal:email>
      <mal:years>2020, 2021</mal:years>
    </mal:credit>
  </info>

  <title>Por que os perfis padrões de monitores não têm uma data de expiração de calibração?</title>
  <p>O perfil de cores padrão usado por todo monitor é gerado automaticamente baseado no <link href="https://en.wikipedia.org/wiki/Extended_Display_Identification_Data">EDID</link> do ecrã, que está armazenado em um chip de memória dentro dele. O EDID só nos fornece um instantâneo das cores disponíveis que o monitor foi capaz de exibir quando foi fabricado, e não contém outras informações sobre correção de cores.</p>

  <note style="tip">
    <p>Obter um perfil de cores através do fabricante do monitor, ou criar um mesmo, levaria a uma correção de cores mais precisa.</p>
  </note>

</page>
