<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="color-notifications" xml:lang="pt">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="seealso" xref="color-why-calibrate"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-04" status="review"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Pode ser notificado quando seu perfil de cores estiver velho e impreciso.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tiago Santos</mal:name>
      <mal:email>tiagofsantos81@sapo.pt</mal:email>
      <mal:years>2014, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Carvalho</mal:name>
      <mal:email>hugokarvalho@hotmail.com</mal:email>
      <mal:years>2020, 2021</mal:years>
    </mal:credit>
  </info>

  <title>Posso ser notificado quando meu perfil de cor não estiver preciso?</title>

  <p>Pode ser lembrado de recalibrar seus dispositivos após um período específico de tempo. Infelizmente, não é possível afirmar sem recalibrar se um perfil de dispositivo é acurado ou não, de forma é melhor recalibrar dispositivos regularmente.</p>

  <p>Algumas empresas têm políticas de expiração de perfis muitos específicas, já que um perfil de cores impreciso pode fazer uma enorme diferença no produto final.</p>

  <p>Se definir a política de expiração e um perfil é mais antigo que a política, então um triângulo vermelho de alerta será mostrado no painel <gui>Cor</gui> ao lado do perfil. Uma notificação de alerta também será exibida toda vez que iniciar uma sessão no seu computador.</p>

  <p>Para definir a política para dispositivos de impressão e de exibição, pode especificar a idade máxima do perfil em dias:</p>

<screen its:translate="no">
<output style="prompt">$ </output><input>gsettings set org.gnome.settings-daemon.plugins.color recalibrate-printer-threshold 180</input>
<output style="prompt">$ </output><input>gsettings set org.gnome.settings-daemon.plugins.color recalibrate-display-threshold 90</input>
</screen>

</page>
