<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="look-display-fuzzy" xml:lang="pt">

  <info>
    <link type="guide" xref="prefs-display#problems"/>
    <link type="guide" xref="hardware-problems-graphics"/>

    <revision pkgversion="3.28" date="2018-07-28" status="review"/>
    	<revision version="gnome:42" status="final" date="2022-02-27"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Natalia Ruz Leiva</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email>tyagishobha@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>A resolução do ecrã pode estar configurada incorretamente.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tiago Santos</mal:name>
      <mal:email>tiagofsantos81@sapo.pt</mal:email>
      <mal:years>2014, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Carvalho</mal:name>
      <mal:email>hugokarvalho@hotmail.com</mal:email>
      <mal:years>2020, 2021</mal:years>
    </mal:credit>
  </info>

  <title>Por que as coisas parecem borradas/quadriculadas na minho ecrã?</title>

  <p>A resolução de ecrã que está configurada pode não ser a correta para a suo ecrã. Para resolver isso:</p>

  <steps>
    <item>
      <p>Abra o panorama de <gui xref="shell-introduction#activities">Atividades</gui> e comece a digitar <gui>Telas</gui>.</p>
    </item>
    <item>
      <p>Clique em <gui>Telas</gui> para abrir o painel.</p>
    </item>
    <item>
      <p>Tente algumas opções <gui>Resolução</gui> e selecione aquela que faz a aparência do ecrã ficar melhor.</p>
    </item>
  </steps>

<section id="multihead">
  <title>Quando mais de um monitor está conectada</title>

  <p>Se tem dois monitores conectados ao computador (por exemplo, um monitor normal e um projetor), as ecrãs podem ter um pode ser que eles tenham resoluções ótima, ou <link xref="look-resolution#native">nativa</link>, diferentes.</p>

  <p>Ao usar o modo <link xref="display-dual-monitors#modes">Espelhar</link>, pode exibir a mesma coisa em duas ecrãs. Ambas ecrãs usam a mesma resolução, o que pode não corresponder à resolução nativa de alguma das ecrãs, então a nitidez da imagem pode ser prejudicada em ambas ecrãs.</p>

  <p>Ao usar o modo <link xref="display-dual-monitors#modes">Juntar as ecrãs</link>, a resolução de cado ecrã pode ser definida de forma independente, então elas podem ser definidas com suas resoluções nativas.</p>

</section>

</page>
