<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="extensions" xml:lang="ko">

  <info>
    <link type="guide" xref="software#extension"/>
    <link type="seealso" xref="extensions-lockdown"/>
    <link type="seealso" xref="extensions-enable"/>
    <revision pkgversion="3.9" date="2013-08-07" status="review"/>

    <credit type="author copyright">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>그놈 셸 확장은 기본 그놈 셸 인터페이스를 설정할 수 있게 합니다.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조재은</mal:name>
      <mal:email>ckr971028@gmail.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2019, 2021, 2023.</mal:years>
    </mal:credit>
  </info>

  <title>그놈 셸 확장은 무엇인가요?</title>
  
  <p>그놈 셸 확장에서는 창 관리와 프로그램 실행 등 그놈 셸 인터페이스 및 일부를 개별 설정할 수 있습니다.</p>
  
  <p>각 그놈 셸 확장은 유일 식별자 UUID로 구분합니다. UUID는 또한 확장을 설치한 디렉터리 이름에도 사용합니다. 사용자 별로 <file>~/.local/share/gnome-shell/extensions/&lt;uuid&gt;</file>에, 또는 머신 전체의 <file>/usr/share/gnome-shell/extensions/&lt;uuid&gt;</file> 디렉터리에 설치할 수 있습니다.</p>
  
  <p>그놈 셸 통합 디버거 및 검사 도구인 <app>룩킹 글래스</app>로 설치한 확장을 볼 수 있습니다.</p>
  
  <steps>
    <title>설치한 확장 보기</title>
    <item>
      <p><keyseq type="combo"><key>Alt</key><key>F2</key></keyseq> 키를 누르고,  <em>lg</em>를 입력한 후 <key>Enter</key> 를 눌러 <app>룩킹 글래스</app>를 여십시오.</p>
    </item>
    <item>
      <p><app>룩킹 글래스</app> 상단 표시줄에서 <gui>확장</gui>을 눌러 설치 확장 목록을 여십시오.</p>
    </item>
  </steps>

</page>
