<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-frequency" xml:lang="tr">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Learn how often you should backup your important files to make sure
    that they are safe.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sabri Ünal</mal:name>
      <mal:email>libreajans@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Emin Tufan Çetin</mal:name>
      <mal:email>etcetin@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  </info>

<title>Frequency of backups</title>

  <p>How often you make backups will depend on the type of data to be backed up.
  For example, if you are running a network environment with critical data
  stored on your servers, then even nightly backups may not be enough.</p>

  <p>On the other hand, if you are backing up the data on your home computer
  then hourly backups would likely be unnecessary. You may find it helpful to
  consider the following points when planning your backup schedule:</p>

<list style="compact">
  <item><p>The amount of time you spend on the computer.</p></item>
  <item><p>How often and by how much the data on the computer changes.</p></item>
</list>

  <p>If the data you want to back up is lower priority, or subject to few
  changes, like music, e-mails and family photos, then weekly or even monthly
  backups may suffice. However, if you happen to be in the middle of a tax
  audit, more frequent backups may be necessary.</p>

  <p>As a general rule, the amount of time in between backups should be no more
  than the amount of time you are willing to spend re-doing any lost work. For
  example, if spending a week re-writing lost documents is too long for you, you
  should back up at least once per week.</p>

</page>
