<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="tr">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Calibration targets are needed to do scanner and camera profiling.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sabri Ünal</mal:name>
      <mal:email>libreajans@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Emin Tufan Çetin</mal:name>
      <mal:email>etcetin@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  </info>

  <title>Which target types are supported?</title>

  <p>
    The following types of targets are supported:
  </p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>
      You can purchase targets from well-known vendors like KODAK, X-Rite
      and LaserSoft in various online shops.
    </p>
    <p>
      Alternatively you can buy
      targets from <link href="http://www.targets.coloraid.de/">Wolf Faust</link>
      at a very fair price.
    </p>
  </note>

</page>
