<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" xmlns:ui="http://projectmallard.org/ui/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" version="1.0 if/1.0 ui/1.0" id="screen-shot-record" xml:lang="tr">
      
  <info>
    <link type="guide" xref="tips"/>

    <revision pkgversion="3.14.0" date="2015-01-14" status="review"/>
    <revision version="gnome:42" status="final" date="2022-04-05"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ekranınızdaki olayların resmini çekin ya da video olarak kaydedin.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sabri Ünal</mal:name>
      <mal:email>libreajans@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Emin Tufan Çetin</mal:name>
      <mal:email>etcetin@gmail.com</mal:email>
      <mal:years>2021.</mal:years>
    </mal:credit>
  </info>

<title>Ekran görüntüleri ve ekran yayınları</title>

  <list>
    <item><p>Capture all or part of your screen as an image</p></item>
    <item><p>Send it as a file or paste it from the clipboard</p></item>
    <item><p>Save a video of your screen activity</p></item>
  </list>

  <media type="image" src="figures/screenshot-tool.png" width="500"/>

  <p>Ekranınızın resmini çekebilir (<em>ekran görüntüsü</em>) ya da ekranda olup bitenlerin videosunu (<em>ekran yayını</em>) kaydedebilirsiniz. Bu, örneğin birisine bilgisayarda bir işlemin nasıl yapılacağını göstermek istediğinizde kullanışlıdır. Ekran görüntüleri ve ekran yayınları sıradan resim ve video dosyalarıdır, bunları e-posta ile gönderebilir ve web’de paylaşabilirsiniz.</p>

<section id="screenshot">
  <title>Ekran görüntüsü al</title>

  <steps>
    <item>
      <p>Press the <key>Print</key> key or launch <app>Take a Screenshot</app>
      from the <gui xref="shell-introduction#activities">Activities</gui>
      overview.</p>
    </item>
    <item>
      <p>The screenshot overlay presents you with handles to select the area to
      capture, and
      <media its:translate="no" type="image" src="figures/camera-photo-symbolic.svg"/>
      indicates screenshot (still image) mode.</p>
       <note>
         <p>Click the pointer button to include the pointer in the screenshot.</p>
       </note>
    </item>
    <item>
      <p>Click and drag the area you want for the screenshot using the handles
      or the crosshair pointer.</p>
    </item>
    <item>
       <p>To capture the selected area, click the big round button.</p>
    </item>
    <item>
       <p>To capture the entire screen, click <gui>Screen</gui> and then click
       the big round button.</p>
    </item>
    <item>
       <p>To capture a window, click <gui>Window</gui>. An overview of all the
       open windows is displayed with the active window checked. Click to choose
       a window and then click the big round button.</p>
    </item>
  </steps>

  </section>
  
  <section id="locations">
  <title>Where do they go?</title>

  <list>
    <item>
      <p>A screenshot image is automatically saved in the
      <file>Pictures/Screenshots</file> folder in your home folder with a file
      name that begins with <file>Screenshot</file> and includes the date and
      time it was taken.</p>
    </item>
    <item>
      <p>The image is also saved in the clipboard, so you can immediately
      paste it into an image-editing application or share it on social media.</p>
    </item>
    <item>
      <p>A screencast video is automatically saved in your
      <file>Videos/Screencasts</file> folder in your home folder, with a file
      name that starts with <file>Screencast</file> and includes the date and
      time it was taken.</p>
    </item>
  </list>
    
  </section>

<section id="screencast">
  <title>Ekran yayını yapmak</title>

  <p>Ekranınızda olup bitenlerin video kaydını yapabilirsiniz:</p>

  <steps>
    <item>
      <p>Press the <key>Print</key> key or launch <app>Take a Screenshot</app>
      from the <gui xref="shell-introduction#activities">Activities</gui>
      overview.</p>
    </item>
    <item>
      <p>Click
      <media its:translate="no" type="image" src="figures/camera-video-symbolic.svg"/>
      to switch to screencast mode.</p>
       <note>
         <p>Click the pointer button to include the pointer in the screencast.</p>
       </note>
    </item>
    <item>
      <p>Choose <gui>Selection</gui> or <gui>Screen</gui>. For
      <gui>Selection</gui>, click and drag the area you want for the screencast
      using the handles or the crosshair pointer.</p>
    </item>
    <item>
      <p>Click the big round red button to start recording what is on your
      screen.</p>
      <p>A red indicator is displayed in the top right corner of the screen
      when the recording is in progress, showing the elapsed seconds.</p>
    </item>
    <item>
      <p>Once you have finished, click the red indicator or press
      <keyseq><key>Shift</key><key>Ctrl</key><key>Alt</key><key>R</key></keyseq>
      to stop the recording.</p>
    </item>
  </steps>

</section>
  
  <section id="keyboard-shortcuts">
    <title>Klavye kısayolları</title>

    <p>Within the screenshot feature, you can use these keyboard shortcuts:</p>

<table rules="rows" frame="top bottom">

  <tr>
    <td><p><key>S</key></p></td>
    <td><p>Select area</p></td>
  </tr>
  <tr>
    <td><p><key>C</key></p></td>
    <td><p>Capture screen</p></td>
  </tr>
  <tr>
    <td><p><key>W</key></p></td>
    <td><p>Capture window</p></td>
  </tr>
  <tr>
    <td><p><key>P</key></p></td>
    <td><p>Toggle between show and hide pointer</p></td>
  </tr>
  <tr>
    <td><p><key>V</key></p></td>
    <td><p>Toggle between screenshot and screencast</p></td>
  </tr>
  <tr>
    <td><p><key>Enter</key></p></td>
    <td><p>Capture, also activated by <key>Space</key> or
    <keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
  </tr>
</table>

    <p>These shortcuts can be used to bypass the screenshot feature:</p>

<table rules="rows" frame="top bottom">
  <tr>
    <td><p><keyseq><key>Alt</key><key>Print</key></keyseq></p></td>
    <td><p>Capture the window that currently has focus</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Shift</key><key>Print</key></keyseq></p></td>
    <td><p>Capture the entire screen</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Alt</key><key>R</key></keyseq></p></td>
    <td><p>Start and stop recording a screencast</p></td>
  </tr>
</table>

  </section>

</page>
