<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="2column task" id="prefs-display" xml:lang="pa">
  <info>

    <link type="guide" xref="prefs"/>
    
    <revision version="gnome:42" status="final" date="2022-02-27"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>Set your background, configure monitors, and manage
    color temperatures.</desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>ਡਿਸਪਲੇਅ &amp; ਸਕਰੀਨ</title>

<section id="problems">
  <title>ਸਮੱਸਿਆਵਾਂ</title>
  <links type="topic" style="2column"/>
</section>

</page>
