<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="software" xml:lang="tr">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="extensions">GNOME Shell extensions</link>,
      <link xref="mime-types">MIME types</link>,
      <link xref="mime-types-application">override default applications</link>…
    </desc>

  </info>

  <title>Software</title>

<!--<section id="application">
  <title>Application</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="extension">
  <title>Extensions</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Management</title>
  <links style="2column" type="topic"/>
</section>

</page>
