<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="a11y task" id="a11y" xml:lang="vi">

  <info>
    <link type="guide" xref="index" group="a11y"/>

    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Use assistive technologies to help with special needs for
    vision, hearing, and mobility.</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-a11y.svg"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Accessibility</title>

  <p>The system includes assistive technologies to support users with
  various impairments and special needs, and to interact with common assistive
  devices. An accessibility menu can be added to the top bar, giving easier
  access to many of the accessibility features.</p>

  <section id="vision">
    <title>Suy giảm thị lực</title>

    <links type="topic" groups="blind" style="linklist">
      <title>Mù</title>
    </links>
    <links type="topic" groups="lowvision" style="linklist">
      <title>Thị giác kém</title>
    </links>
    <links type="topic" groups="colorblind" style="linklist">
      <title>Mù màu</title>
    </links>
    <links type="topic" style="linklist">
      <title>Chủ đề khác</title>
    </links>
  </section>

  <section id="sound">
    <title>Suy giảm thính lực</title>
    <links type="topic" style="linklist"/>
  </section>

  <section id="mobility">
    <title>Suy giảm chuyển động</title>

    <links type="topic" groups="pointing" style="linklist">
      <title>Chuyển động chuột</title>
    </links>
    <links type="topic" groups="clicking" style="linklist">
      <title>Nhấn và kéo</title>
    </links>
    <links type="topic" groups="keyboard" style="linklist">
      <title>Dùng bàn phím</title>
    </links>
    <links type="topic" style="linklist">
      <title>Chủ đề khác</title>
    </links>
  </section>
</page>
