<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="look-background" xml:lang="vi">

  <info>
    <link type="guide" xref="prefs-display"/>

    <revision pkgversion="3.38.1" date="2020-11-04" status="review"/>
    <revision version="gnome:42" status="final" date="2022-03-02"/>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>April Gonzales</name>
      <email>loonycookie@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Natalia Ruz Leiva</name>
      <email>nruz@alumnos.inf.utfsm.cl </email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Andre Klapper</name>
      <email>ak-47@gmx.net</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email>tyagishobha@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ivan Stanton</name>
      <email>northivanastan@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Choose a style and set a background.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Change the appearance of your desktop</title>
  
  <p>You can change the look of things that appear on the screen by
  setting the style preference to light or dark. You can choose an image or
  wallpaper as your desktop background.</p>
  
<section id="style">
  <title>Light or Dark Style</title>
  <p>To switch between light and dark desktop styles:</p>
  
  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>Appearance</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Appearance</gui> to open the panel. The currently selected
      style is shown at the top surrounded by a blue border.</p>
    </item>
    <item>
      <p>Click to choose <gui>Light</gui> or <gui>Dark</gui>.</p>
    </item>
    <item>
      <p>The setting is applied immediately.</p>
    </item>
  </steps>
  
</section>

<section id="background">
  <title>Background</title>
  <p>To change the image used for your background:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>Appearance</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Appearance</gui> to open the panel. The currently selected
      wallpaper is shown at the top in the preview for the current style.</p>
    </item>
    <item>
      <p>There are two ways to change the image used for your backgrounds:</p>
      <list>
        <item>
          <p>Click one of the background images which are shipped with the
          system.</p>
        <note style="info">
          <p>Some wallpapers change throughout the day. These wallpapers have a
          small clock icon in the bottom-right corner.</p>
        </note>
        </item>
        <item>
          <p>Click <gui>Add Picture…</gui> to use one of your own photos. By
          default, the <file>Pictures</file> folder will be opened, since most
          photo management applications store photos there.</p>
        </item>
      </list>
    </item>
    <item>
      <p>The settings are applied immediately.</p>
        <note style="tip">
          <p>For another way to set one of your own photos as the background,
          right-click on the image file in <app>Files</app> and select <gui>Set
          as Wallpaper</gui>, or open the image file in <app>Image Viewer</app>,
          click the menu button in the titlebar and select <gui>Set as
          Wallpaper</gui>.</p>
        </note>
    </item>
    <item>
      <p><link xref="shell-workspaces-switch">Switch to an empty
      workspace</link> to view your entire desktop.</p>
    </item>
  </steps>
  
  </section>

</page>
