<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batterywindows" xml:lang="vi">

  <info>
    <link type="guide" xref="power#faq"/>
    <link type="seealso" xref="power-batteryestimate"/>
    <link type="seealso" xref="power-batterylife"/>
    <link type="seealso" xref="power-batteryslow"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <desc>Điều chỉnh từ nhà sản xuất và khác biệt trong dự đoán thời gian sống của pin có thể gây ra vấn đề này.</desc>
    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Tại sao pin hết nhanh hơn khi dùng trên Windows/Mac OS?</title>

<p>Một số máy có vẻ mau hết pin khi chạy Linux hơn khi dùng Windows hoặc Mac OS. Một nguyên nhân là nhà sản xuất máy tính cài phần mềm đặc biệt trên Windows/Mac OS nhằm tối ưu thiết lập phần cứng/phần mềm, nhưng không mô tả, nên gây khó khăn khi tích hợp vào Linux.</p>

<p>Không may là không có cách dễ dàng để tự áp dụng những chỉnh đổi này mà không biết chính xác nó là gì. <link xef="power-batterylife">Một số cách đơn giản để tiết kiệm năng lượng</link> có thể hữu ích. Nếu máy tính bạn dùng <link xref="power-batteryslow">bộ vi xử lý tốc tốc độ thay đổi</link>, bạn có thể thay đổi thiết lập tốt hơn.</p>

<p>Một nguyên nhân khác là sự không thống nhất trong cách ước lượng thời gian sử dụng pin trên Windows/Mac OS và trên Linux. Thời gian sử dụng pin chính xác là như nhau, nhưng cách ước lượng khác nhau sẽ cho ra con số khác nhau.</p>
	
</page>
