<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-rename" xml:lang="hu">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>

    <revision pkgversion="3.5.92" version="0.2" date="2012-09-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>GNOME dokumentációs projekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Fájl- vagy mappanév megváltoztatása.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bojtos Péter</mal:name>
      <mal:email>ptr at ulx dot hu</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Griechisch Erika</mal:name>
      <mal:email>griechisch.erika at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kucsebár Dávid</mal:name>
      <mal:email>kucsdavid at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lakatos 'Whisperity' Richárd</mal:name>
      <mal:email>whisperity at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Meskó Balázs</mal:name>
      <mal:email>mesko dot balazs at fsf dot hu</mal:email>
      <mal:years>2021, 2022</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nagy Zoltán</mal:name>
      <mal:email>dzodzie at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur dot balazs at fsf dot hu</mal:email>
      <mal:years>2016, 2019, 2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

  <title>Fájl vagy mappa átnevezése</title>

  <p>Más fájlkezelőkhöz hasonlóan a <app>Fájlok</app> alkalmazással is megváltoztathatja egy fájl vagy mappa nevét.</p>

  <steps>
    <title>Fájl vagy mappa átnevezéséhez:</title>
    <item><p>Kattintson a jobb egérgombbal az elemre, és válassza az <gui>Átnevezés</gui> menüpontot, vagy válassza ki a fájlt, és nyomja meg az <key>F2</key> billentyűt.</p></item>
    <item><p>Írja be az új nevet, és nyomja meg az <key>Enter</key> billentyűt, vagy válassza az <gui>Átnevezés</gui> menüpontot.</p></item>
  </steps>

  <p>A fájlokat a <link xref="nautilus-file-properties-basic">Tulajdonságok</link> ablakban is átnevezheti.</p>

  <p>Fájlok átnevezésekor csak a fájl első része kerül kijelölésre, a kiterjesztés (az utolsó <file>.</file> utáni rész) nem. A kiterjesztés általában a fájl típusát jelzi (például a <file>fájl.pdf</file> egy PDF-dokumentum), és általában nem szükséges megváltoztatni. Ha a kiterjesztést is meg akarja változtatni, akkor jelölje ki a teljes fájlnevet, és módosítsa.</p>

  <note style="tip">
    <p>Ha rossz fájlt nevezett át, vagy elrontotta az új nevet, akkor visszavonhatja az átnevezést. A művelet visszavonásához azonnal válassza a menü gombot az eszköztáron, majd az <gui>Átnevezés visszavonása</gui> menüpontot, vagy nyomja meg a <keyseq><key>Ctrl</key><key>Z</key></keyseq> kombinációt a korábbi név visszaállításához.</p>
  </note>

  <section id="valid-chars">
    <title>Érvényes karakterek a fájlnevekben</title>

    <p>Fájlnevekben tetszőleges karaktereket használhat az <file>/</file> (osztásjel) kivételével. Néhány eszköz azonban olyan <em>fájlrendszert</em> használ, amely a fájlnevekre több megszorítást érvényesít. Emiatt inkább kerülje a következő karakterek használatát a fájlnevekben: <file>|</file>, <file>\</file>, <file>?</file><file>*</file>, <file>&lt;</file>, <file>"</file>, <file>:</file>, <file>&gt;</file>, <file>/</file>.</p>

    <note style="warning">
    <p>Ha egy fájl nevének első karaktere a <file>.</file>, akkor a fájl <link xref="files-hidden">rejtett</link> lesz, amikor megpróbálja megjeleníteni a fájlkezelőben.</p>
    </note>

  </section>

  <section id="common-probs">
    <title>Gyakori problémák</title>

    <terms>
      <item>
        <title>A fájlnév már használatban van</title>
        <p>Ugyanabban a mappában nem lehet két azonos nevű fájl vagy mappa. Ha olyan névre próbál átnevezni egy fájlt, amely már létezik az adott mappában, a fájlkezelő nem fogja engedélyezni.</p>
        <p>A fájl- és mappanevek megkülönböztetik a kis- és nagybetűket, így a <file>Fájl.txt</file> és a <file>FÁJL.txt</file> például eltérő nevek. A csak ennyiben különböző fájlnevek használata engedélyezett, noha nem javasoljuk.</p>
      </item>
      <item>
        <title>A fájlnév túl hosszú</title>
        <p>Egyes fájlrendszereken a fájlnevek nem tartalmazhatnak 255-nél több karaktert. Ebbe a 255 karakteres korlátba beleértendő a fájl neve és elérési útja is (például: <file>/home/wanda/Dokumentumok/munka/üzleti-ajánlatok/… </file>), így amennyire tudja, kerülje a hosszú fájl- és mappanevek használatát.</p>
      </item>
      <item>
        <title>Az átnevezés menüpont szürke</title>
        <p>Ha az <gui>Átnevezés</gui> szürke, akkor nincs jogosultsága átnevezni a fájlt. Az ilyen fájlok átnevezésével legyen óvatos, mert egyes védett fájlok átnevezése instabillá teheti a rendszerét. További információkért lásd a <link xref="nautilus-file-properties-permissions"/> részt.</p>
      </item>
    </terms>

  </section>

</page>
