<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="nl">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Hoe u papier dat vastzit kunt vrijmaken hangt af van het merk en model van uw printer.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Justin van Steijn</mal:name>
      <mal:email>jvs@fsfe.org</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hannie Dumoleyn</mal:name>
      <mal:email>hannie@ubuntu-nl.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nathan Follens</mal:name>
      <mal:email>nfollens@gnome.org</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>

  <title>Papier dat vastzit vrijmaken</title>

  <p>Soms voeren printers vellen papier verkeerd in waardoor ze vast komen te zitten.</p>

  <p>Meestal geeft de handleiding voor uw printer gedetailleerde instructies over hoe u vastzittend papier kunt vrijmaken. Meestal moet u één van de kleppen van de printer openen om te zien waar het papier vastzit, waarna u het vastzittende papier met een stevige (maar voorzichtige!) ruk eruit trekt.</p>

  <p>Wanneer de blokkade verwijderd is, dient u mogelijk op de knop <gui>Doorgaan</gui> op de printer te drukken om verder te gaan met afdrukken. Sommige printers moeten uit- en weer aangezet worden om verder te gaan met de afdruktaak.</p>

</page>
