<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="nautilus-views" xml:lang="cs">

  <info>
    <link type="guide" xref="nautilus-prefs" group="nautilus-views"/>

    <revision pkgversion="3.8" version="0.2" date="2013-04-03" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="candidate"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>Jak určit výchozí řazení a seskupování ve správci souborů.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

<title>Předvolby zobrazení v <app>Souborech</app></title>

<p>Můžete změnit, jak se mají ve výchozím stavu soubory a složky seskupovat a řadit. Zmáčkněte tlačítko nabídky v pravém horním rohu okna, zvolte <gui style="menuitem">Předvolby</gui> a pak vyberte kartu <gui style="tab">Zobrazení</gui>.</p>

<section id="default-view">
<title>Výchozí zobrazení</title>
<terms>
  <item>
    <title><gui>Řadit položky</gui></title>
    <p its:locNote="TRANSLATORS: use the translation of the tooltip for the     view selector button that opens the view popover in the main window for     'View options'">Můžete změnit, jak se mají <link xref="files-sort">soubory řadit</link> v jednotlivých složkách. Kliknete na tlačítko nabídky voleb zobrazení na nástrojové liště a vyberte požadovanou volbu v <gui>Řadit podle</gui>, nebo klikněte v seznamovém zobrazení na záhlaví příslušného sloupce.</p>
  </item>
  <item>
    <title><gui>Řadit složky před soubory</gui></title>
    <p>Ve výchozím stavu správce souborů již nezobrazuje složek před soubory. Abyste viděli všechny složky vypsané jako první před soubory, zapněte tuto volbu.</p>
  </item>
</terms>
</section>

</page>
