<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="cs">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak nastavit místní nebo síťovou tiskárnu. Získejte znalosti o různých volbách tisku, jako je řazení stránek nebo tisk brožur.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

<title>Tisk</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Nastavení</title>
  </info>
  <title>Nastavení tiskárny</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Velikosti a rozvržení</title>
  </info>
  <title>Různé rozměry a rozvržení papíru</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>Nenalezené tiskárny, zaseknutý papír, špatně vypadající výtisky…</desc>
  </info>
  <title>Problémy s tiskárnami</title>
</section>

</page>
