<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="privacy-location" xml:lang="cs">
  <info>
    <link type="guide" xref="privacy" group="#last"/>

    <revision pkgversion="3.14" date="2014-10-13" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="final"/>
    <revision pkgversion="3.38.1" date="2020-11-22" status="candidate"/>
    <revision pkgversion="3.38.4" date="2020-03-07" status="final"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak povolit nebo zakázat geolokaci.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

  <title>Řízení služeb určování polohy</title>

  <p>Geolokace neboli služba sledování polohy používá vysílače mobilní sítě, GPS a nejbližší přístupové body Wi-Fi k určení vaší současné polohy, aby se mohla použít k nastavení časového pásma a v některých aplikacích, jako jsou <app>Mapy</app>. Když je zapnutá, je možné sdílet vaši polohu přes síť se skvělou přesností.</p>

  <steps>
    <title>Vypnutí geolokačních funkcí v uživatelském prostředí</title>
    <item>
      <p>Otevřete přehled <gui xref="shell-introduction#activities">Činnosti</gui> a začněte psát <gui>Služby určování polohy</gui>.</p>
    </item>
    <item>
      <p>Kliknutím na <gui>Služby určování polohy</gui> otevřete příslušný panel.</p>
    </item>
    <item>
     <p>Přepněte vypínač <gui>Služby určování polohy</gui> do polohy vypnuto.</p>
     <p>Opětovně tuto funkci povolíte přepnutím vypínače <gui>Služby určování polohy</gui> do polohy zapnuto.</p>
    </item>
  </steps>

</page>
