<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="he">

  <info>

    <link type="guide" xref="color#calibration"/>
    <revision pkgversion="40.3" date="2021-08-08" status="review"/>

    <desc>We support a large number of calibration devices.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What color measuring instruments are supported?</title>

  <p>
    The system relies on the Argyll color management system to support
    color instruments. A list of supported measuring instruments can be found
    at <link href="https://www.argyllcms.com/doc/instruments.html"/>.
  </p>

</page>
