<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="files-disc-write" xml:lang="id">

  <info>
    <link type="guide" xref="files#more-file-tasks"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.36.1" date="2020-06-10" status="outdated"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Simpan berkas dan dokumen ke dalam CD atau DVD kosong memakai pembakar CD/DVD.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017, 2020-2023.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rofiquzzaki</mal:name>
      <mal:email>babisayabundar@gmail.com</mal:email>
      <mal:years>2022.</mal:years>
    </mal:credit>
  </info>

  <title>Menulis berkas ke CD atau DVD</title>

  <p>Anda dapat meletakkan berkas ke disk kosong dengan menggunakan aplikasi pembakar disk, seperti <app>Brasero</app>.</p>

  <section id="problem">
  <title>Bila cakram tidak dibakar secara benar</title>

  <p>Terkadang komputer tidak merekam data dengan benar, dan Anda tidak akan dapat melihat berkas yang Anda masukkan ke cakram ketika Anda memasukkannya ke komputer.</p>

  <p>Dalam hal ini, coba bakar ulang cakram namun gunakan kecepatan pembakaran yang rendah, misal, 12x dari pada menggunakan 48x. Membakar dengan kecepatan rendah lebih bisa diandalkan.</p>

</section>

</page>
