<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="id">

  <info>
    <link type="guide" xref="shell-windows#working-with-windows"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Maksimalkan dua jendela bersisian.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017, 2020-2023.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rofiquzzaki</mal:name>
      <mal:email>babisayabundar@gmail.com</mal:email>
      <mal:years>2022.</mal:years>
    </mal:credit>
  </info>


<title>Ubinkan jendela</title>

  <p>Anda dapat memaksimalkan jendela hanya pada sisi kiri atau kanan layar, memungkinkan Anda untuk menempatkan dua jendela bersisian untuk cepat beralih di antara mereka.</p>

  <p>Untuk memaksimalkan jendela di sepanjang sisi layar, genggam bilah judul dan seret ke sisi kiri atau kanan hingga separuh layar disorot. Menggunakan papan tik, tahan <key xref="keyboard-key-super">Super</key> dan tekan tombol panah <key>Kiri</key> atau <key>Kanan</key>.</p>

  <p>Untuk mengembalikan jendela ke ukuran aslinya, seret keluar dari sisi layar, atau pakai pintasan papan ketik yang sama dengan yang Anda gunakan untuk memaksimalkan.</p>

  <note style="tip">
    <p>Tahan tombol <key>Super</key> dan seret ke mana pun di jendela untuk memindahkannya.</p>
  </note>

</page>
