<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="gl">

  <info>

    <title type="link" role="trail">Guía de administración do sistema</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>A guide for GNOME 3 system administrators.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2010-2018</mal:years>
    </mal:credit>
  </info>

  <title>Guía de administración de sistemas de GNOME</title>

  <links type="topic" groups="#first"/>

  <links style="toronto" type="topic" groups="user-settings appearance #default"/>

  <links type="topic" groups="#last"/>

</page>
