<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-restore" xml:lang="ko">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>백업에서 파일을 가져옵니다.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>그놈 문서 프로젝트</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

<title>백업 복원</title>

  <p>일부 파일을 잃었거나 삭제했고 백업하고자 한다면, 백업에서 되돌릴 수 있습니다:</p>

<list>
 <item><p>외장 하드 드라이브, USB 드라이브, 네트워크의 다른 컴퓨터와 같은 장치에서 백업을 복원하려면, 사용중인 컴퓨터로 <link xref="files-copy">복사</link>해올 수 있습니다.</p></item>

 <item><p><app>Déjà Dup</app>과 같은 백업 프로그램으로 백업을 만들었다면, 백업을 복원할 때 동일한 프로그램을 사용하는 방식이 좋습니다. 백업 프로그램의 프로그램 도움말을 살펴봅니다. 해당 도움말에서 파일을 복원하는 방법을 안내해줍니다.</p></item>
</list>

</page>
