<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="ko">

  <info>
    <link type="guide" xref="files#backup"/>
    <title type="link" role="trail">백업</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>그놈 문서 프로젝트</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>왜, 무엇을, 어디에, 어떻게 백업하는지 설명합니다.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

<title>중요한 파일 백업</title>

  <p>파일 <em>백업</em>이란 간단히 말해서 안전하게 지키기 위한 사본 만들기입니다. 원본 파일의 분실 또는 손상으로 인해 사용할 수 없을 경우를 대비합니다. 이 사본은 분실 상황에 원본 데이터를 복원할 때 활용할 수 있습니다. 사본은 원본과는 다른 저장 장치에 저장해야 합니다. 예를 들면 USB 드라이브, 외장 하드 드라이브, CD/DVD 드라이브, 외부 저장 장치 서비스를 활용할 수 있습니다.</p>

  <p>파일을 백업하는 가장 좋은 방법은 정기적으로 백업을 진행하며 외부 위치에 사본을 유지하고 (가능하면) 암호화 하는 방법입니다.</p>

<links type="topic" style="2column"/>

</page>
