<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="bluetooth" xml:lang="ko">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="Editor">
      <name>Klein Kravis</name>
      <email>kleinkravis44@outlook.com</email>
    </credit>  
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>블루투스로 장치를 연결하여 파일을 전송하거나 무선 오디오 기능을 활용합니다.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

<title>블루투스</title>

<p>블루투스는 컴퓨터에 여러가지 형식의 장치를 연결할 수 있게 하는 무선 프로토콜입니다. 블루투스는 보통 헤드셋이나 마우스, 키보드 같은 기타 장치를 연결할 때 씁니다. 또한 컴퓨터에서 휴대전화 장치로 <link xref="bluetooth-send-file">장치간 파일 전송</link>을 할 때 블루투스를 활용하기도 합니다.</p>

<section id="problems">
  <info>
    <title type="link">블루투스 문제</title>
    <link type="guide" xref="hardware#problems"/>
  </info>
  <title>문제</title>
</section>

</page>
