<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-antivirus" xml:lang="ko">

  <info>
    <link type="guide" xref="net-security"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>그놈 문서 프로젝트</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>몇가지 리눅스 바이러스가 있긴 하지만, 바이러스 검사/치로 프로그램이 굳이 필요하진 않습니다.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

  <title>백신 프로그램이 필요할까요?</title>

  <p>윈도우 또는 Mac OS를 사용한다면, 바이러스 검사/치료 프로그램을 항시 가동합니다. 바이러스 검사/치료 프로그램은 백그라운드에서 실행하며, 나름대로의 수단을 찾고 문제를 일으킬 컴퓨터 바이러스를 꾸준히 검사합니다.</p>

  <p>리눅스용 바이러스 검사/치료 프로그램이 있긴 하나 굳이 사용할 필요는 없습니다. 리눅스에 영향을 주는 바이러스는 여전히 거의 드문 상황입니다. 리눅스를 다른 운영체제만큼 널리 사용하지 않기 때문이라는 이야기도 있는만큼 리눅스용 바이러스를 작성하는 사람은 없습니다. 리눅스는 본질적으로 안전하며 바이러스가 야기할 수 있는 보안 문제는 상당히 빨리 해결된다는 이야기도 있습니다.</p>

  <p>이유야 어떻든지간에, 리눅스 바이러스는 상당히 드물기에 이 점에 있어서는 걱정할 필요가 없습니다.</p>

  <p>추가적으로 안전해지고 싶거나, 여러분과 윈도우 및 맥 OS를 사용하는 사용자 사이에 전달하는 파일의 바이러스를 검사하려면, 여전히 바이러스 검사/치료 프로그램을 설치할 수 있습니다. 프로그램 설치 관리자를 확인하거나 온라인에서 검색해봅니다. 수많은 프로그램이 있습니다.</p>

</page>
