<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="login" xml:lang="ru">
  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="login-userlist-disable">Отключение списка пользователей</link>, <link xref="session-user">настройка сеанса пользователя по умолчанию</link>, <link xref="login-automatic">автоматический вход</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ser82-png</mal:name>
      <mal:email>asvmail.as@gmail.com</mal:email>
      <mal:years>2022-2023</mal:years>
    </mal:credit>
  </info>

  <title>Вход в систему</title>

<section id="appearance">
  <title>Внешний вид</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Управление</title>
  <links style="2column" type="topic"/>
</section>
</page>
