<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="network-vpn" xml:lang="ru">

  <info>
    <link type="guide" xref="network"/>
    <revision pkgversion="3.6" date="2012-10-08" status="draft"/>

    <credit type="author copyright">
      <name>Матиас Класен (Matthias Clasen)</name>
      <email>matthias.clasen@gmail.com</email>
      <years>2012</years>
    </credit>
     <credit type="editor">
      <name>Яна Сварова (Jana Svarova)</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Как настроить VPN для всех пользователей?</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ser82-png</mal:name>
      <mal:email>asvmail.as@gmail.com</mal:email>
      <mal:years>2022-2023</mal:years>
    </mal:credit>
  </info>

  <title>Настройки VPN по умолчанию</title>

  <p><app>NetworkManager</app> хранит общесистемные соединения в каталоге <file>/etc/NetworkManager/system-connections</file>. В этом каталоге можно устанавливать предварительно настроенные соединения VPN.</p>
  
  <p>Пример конфигурации Cisco VPN:</p>

<screen>
[connection]
id=Sample vpnc
uuid=a9894bc6-aa7c-4296-90e6-094f0b13a14e
type=vpn
permissions=
autoconnect=false
secondaries=
 
[ipv6]
method=auto
dns-search=
 
[ipv4]
method=auto
dns-search=
 
[vpn]
service-type=org.freedesktop.NetworkManager.vpnc
NAT Traversal Mode=natt
ipsec-secret-type=ask
IPSec secret-flags=2
xauth-password-type=ask
Vendor=cisco
Xauth username=dking
IPSec gateway=my-vpnc.my-domain.com
Xauth password-flags=2
IPSec ID=RH-standard
Perfect Forward Secrecy=server
IKE DH Group=dh2
Local Port=0
</screen>
</page>
