<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="bluetooth" xml:lang="fi">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="Editor">
      <name>Klein Kravis</name>
      <email>kleinkravis44@outlook.com</email>
    </credit>  
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Yhdistä laitteisiin Bluetoothin välityksellä siirtääksesi tiedostoja tai käyttääksesi langattomia kaiuttimia sekä mikrofoneja.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2023.</mal:years>
    </mal:credit>
  </info>

<title>Bluetooth</title>

<p>Bluetooth on langaton yhteystapa, jonka avulla on mahdollista yhdistää useita erilaisia laitteita toisiinsa. Bluetoothia käytetään yleisesti mikrofoneissa, kuulokkeissa ja syötelaiteissa, kuten hiirissä ja näppäimistöissä. Bluetoothia voi käyttää myös <link xref="bluetooth-send-file">tiedostojen siirtoon laitteiden välillä</link>, esimerkiksi tietokoneen ja matkapuhelimen välillä.</p>

<section id="problems">
  <info>
    <title type="link">Bluetooth-ongelmat</title>
    <link type="guide" xref="hardware#problems"/>
  </info>
  <title>Ongelmat</title>
</section>

</page>
