<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="nautilus-views" xml:lang="fi">

  <info>
    <link type="guide" xref="nautilus-prefs" group="nautilus-views"/>

    <revision pkgversion="3.8" version="0.2" date="2013-04-03" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="candidate"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>Specify the default sort order and grouping for the file
    manager.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2023.</mal:years>
    </mal:credit>
  </info>

<title>Näkymien ominaisuudet <app>Tiedostot</app>-sovelluksessa</title>

<p>You can change how files and folders are grouped and sorted by default.
Press the menu button in the top-right corner of the window, select
<gui style="menuitem">Preferences</gui>, and then select the
<gui style="tab">Views</gui> tab.</p>

<section id="default-view">
<title>Oletusnäkymä</title>
<terms>
  <item>
    <title><gui>Järjestä kohteet</gui></title>
    <p its:locNote="TRANSLATORS: use the translation of the tooltip for the     view selector button that opens the view popover in the main window for     'View options'">You can change how <link xref="files-sort">files are
    sorted</link> in an individual folder by clicking the view options
    <!-- FIXME: Get a tooltip added for "View options" -->
    menu button in the toolbar and choosing the desired option under
    <gui>Sort</gui>, or by clicking the list column headers in list view.</p>
  </item>
  <item>
    <title><gui>Järjestä kansiot ennen tiedostoja</gui></title>
    <p>By default, the file manager no longer shows all folders before files.
    To see all folders listed before files, enable this option.</p>
  </item>
</terms>
</section>

</page>
