<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="login" xml:lang="ca">
  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="login-userlist-disable">Desactiva la llista d'usuaris</link>, <link xref="session-user">configura una sessió per defecte per a l'usuari</link>, <link xref="login-automatic">configura l'autentificació automàtica</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jaume Jorba</mal:name>
      <mal:email>jaume.jorba@gmail.com</mal:email>
      <mal:years>2019</mal:years>
    </mal:credit>
  </info>

  <title>Entrada</title>

<section id="appearance">
  <title>Aparença</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Gestió</title>
  <links style="2column" type="topic"/>
</section>
</page>
