<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-search" xml:lang="lv">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Meklēt kontaktu.</desc>
  </info>

<title>Meklēt kontaktu</title>

  <p>Jūs varat meklēt tiešsaistes kontaktu vienā no diviem veidiem:</p>

  <steps>
    <item>
      <p><gui>Aktivitāšu</gui> pārskatā sāciet rakstīt kontakta vārdu.</p>
    </item>
    <item>
      <p>Atbilstošie kontakti parādīsies pārskatā, nevis, parastajā lietotņu sarakstā.</p>
    </item>
    <item>
      <p>Spiediet <key>Enter</key>, lai izvēlētos kontaktu saraksta augšpusē, vai spiediet uz vajadzīgā kontakta, ja tas nav augšpusē.</p>
    </item>
  </steps>

  <p>Lai meklētu no <app>Kontaktiem</app>:</p>

  <steps>
    <item>
      <p>Spiediet meklēšanas laukā.</p>
    </item>
    <item>
      <p>Sāciet rakstīt kontakta vārdu.</p>
    </item>
  </steps>

</page>
