<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="lv">

<info>
    <desc>A guide for GNOME desktop users.</desc>

    <title type="link">GNOME palīdzība</title>
    <title type="text">GNOME palīdzība</title>
    <title role="trail" type="link">Help</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>GNOME Help</title>

<links type="topic" groups="gs"/>

<links type="topic" style="experimental-gnome-top" groups="intro #first"/>

<links type="topic" style="experimental-gnome-tiles 2column" groups="        shell-overview        net media files        prefs hardware        a11y tips more-help"/>
</page>
