<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-email-virus" xml:lang="lv">

  <info>
    <link type="guide" xref="net-email"/>
    <link type="guide" xref="net-security"/>
    <link type="seealso" xref="net-antivirus"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ir mazticams, ka vīrusi inficēs jūsu datoru, taču tie var inficēt to cilvēku datorus, kuriem sūtāt e-pastus.</desc>
  </info>

  <title>Vai man vajag skenēt savus e-pastus pret vīrusiem?</title>

  <p>Vīrusi ir programmas, kas var radīt problēmas, ja tām izdodas atrast ceļu uz datoru. Ierasts veids, kā tās nokļūst datorā, ir caur e-pasta ziņojumiem.</p>

  <p>Vīrusi, kas var ietekmēt datorus, kas darbojas ar Linux ir diezgan reti sastopami, tāpēc <link xref="net-antivirus">ir mazticams, ka vīrusu dabūsit caur e-pastu vai kā citādi</link>. Ja saņemat e-pastu, kurā ir paslēpts vīruss, tas visticamāk nekādi neietekmēs jūsu datoru. Tāpēc, visticamāk, nav nepieciešams skenēt e-pastus pret vīrusiem.</p>

  <p>Jūs varētu vēlēties skenēt e-pastus pret vīrusiem, ja pārsūtat kādu vēstuli tālāk citiem. Piemēram, ja kādam jūsu draugam ir dators ar Windows operētājsistēmu, tad draugs var iegūt vīrusu. Jūs varat instalēt pretvīrusu programmu e-pastu skenēšanai, lai izvairītos no tā, bet ir mazticams, ka tas notiks, jo lielākā daļa Windows vai Mac OS lietotāju izmanto pretvīrusu programmu.</p>

</page>
