<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="overrides" xml:lang="hu">

  <info>
    <link type="guide" xref="setup"/>
    <revision pkgversion="3.30" date="2019-02-08" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2019</years>
    </credit>

    <desc>A disztribútorok által használt GSettings felülbírálások az alapértelmezett beállítások átállításához.</desc>
   
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2018, 2019, 2020, 2021, 2023.</mal:years>
    </mal:credit>
  </info>

  <title>Miért nem szabad használnom a GSettings felülbírálásokat?</title>

  <p>A disztribúciók által használt GSettings felülbírálások az alapértelmezett beállítások átállításához a GNOME asztali környezetnél és az alkalmazásoknál. A dconf felülbírálásokat a rendszergazdáknak tervezték az alapértelmezett beállítások átállításához, és a kötelező beállítások megadásához a GNOME asztali környezetnél és az alkalmazásoknál.</p>

  <section id="what-are-vendor-overrides">
  <title>Mik a gyártói felülbírálások?</title>

   <p>Az alapértelmezett értékek az alkalmazás által telepített sémákban vannak meghatározva. Néha egy gyártó vagy disztribútor ezeket az alapértelmezett értékeket átállítja.</p>

   <p>Mivel a séma XML forrásának foltozása kényelmetlen és érzékeny a hibákra, a <link its:translate="no" href="man:glib-compile-schemas">
   <sys>glib-compile-schemas</sys></link> beolvassa az úgynevezett <em>gyártói felülbírálás</em> fájlokat. Ezek az XML-séma forrásokkal megegyező könyvtárban lévő kulcsfájlok, amelyek felülbírálhatják az alapértelmezett értékeket.</p>

  </section>

</page>
