<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="mr">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>स्कॅनर आणि कॅमेरा प्रोफाइलिंगकरिता कॅलिब्रेशन लक्ष्य आवश्यक आहेत.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>कोणते लक्ष्य प्रकार समर्थीत आहेत?</title>

  <p>खालील लक्ष्य प्रकार समर्थीत आहेत:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker २४</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan १४</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>तुम्ही विविध ऑनलाइन शॉप्समध्ये परिचीत विक्रेता जसे कि KODAK, X-Rite आणि LaserSoft पासून लक्ष्य विकत घेऊ शकता.</p>
    <p>वैकल्पिकरित्या तुम्ही <link href="http://www.targets.coloraid.de/">Wolf Faust</link> पासून जास्त योग्य किमतीत लक्ष्य विकत घेऊ सकता.</p>
  </note>

</page>
