<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="hardware" xml:lang="mr">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">हार्डवेअर</title>

    <desc>Configure hardware and diagnose problems, including printers,
    displays, disks, and more.</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-hardware.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

<title>हार्डवेअर &amp; ड्राइवर्स</title>

<links type="topic" style="linklist"/>

<links type="topic" style="linklist" groups="more">
  <title>अधिक विषय</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">प्रश्ने</title>
    <title type="link">हार्डवेअर प्रश्ने</title>
  </info>
 <title>समान प्रश्ने</title>
 <links type="topic" style="linklist"/>
</section>

</page>
