<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="mr">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up local and network printers. Learn about different
    printing options like collation and multi-sided printing.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

<title>छापणे</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">सेटअप</title>
  </info>
  <title>प्रिंटर बसवा</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">आकार आणि मांडण्या</title>
  </info>
  <title>वेगळ्या पानांचे आकार आणि मांडण्या</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>न आढळलेले छपाईयंत्र, पेपर जॅम्स, छपाईयंत्र जे चुकिचे दिसतात…</desc>
  </info>
  <title>प्रिंटर प्रश्ने</title>
</section>

</page>
