<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-differentsize" xml:lang="mr">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>दस्तऐवजी छपाई वेगळ्या पेपर आकार किंवा निर्देशनवर करा.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>छपाई करतेवेळी पेपर आकार बदला</title>

  <p>दस्तऐवजाचे पेपर आकार बदलायचे असल्यास (उदाहरणार्थ, US लेटर-साइज्ड PDF ला A4 पेपरवर छपाई करा), तुम्ही दस्तऐवजकरिता छपाई रूपण बदलू शकता.</p>

  <steps>
    <item>
      <p>Open the print dialog by pressing
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p><gui>पान रचना</gui> टॅब निवडा.</p>
    </item>
    <item>
      <p>Under the <gui>Paper</gui> column, choose your <gui>Paper size</gui>
      from the drop-down list.</p>
    </item>
    <item>
      <p>Click <gui>Print</gui> to print your document.</p>
    </item>
  </steps>

  <p>You can also use the <gui>Orientation</gui> drop-down list to choose a
  different orientation:</p>

  <list>
    <item><p><gui>व्यक्तिचित्र</gui></p></item>
    <item><p><gui>भूदृश्य</gui></p></item>
    <item><p><gui>उलटं व्यक्तिचित्र</gui></p></item>
    <item><p><gui>उलटं भूदृश्य</gui></p></item>
  </list>

</page>
