<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-windows" xml:lang="mr">

  <info>
    <link type="guide" xref="shell-overview#apps"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>GNOME डॉक्युमेंटेशन प्रकल्प</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">पटल</title>
    <desc>तुमचे पटलं हलवा आणि आवरा.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>पटल आणि वर्कस्पेसेस</title>

  <p>Like other desktops, the system uses windows to display your running
  applications. Using both the <gui xref="shell-introduction#activities">Activities</gui>
  overview and the <em>dash</em>, you can launch new applications and control
  active windows.</p>

  <p>कार्यक्षेत्रांतर्गत ॲप्लिकेशन्सना एकत्र गटात करा. ह्या गुणविशेषांचा वापर करण्यासाठी पटलाला आणि कार्यक्षेत्र मदत शीर्षकांकरिता भेट द्या.</p>
<!-- 
  <p>In the <gui>Activities</gui> overview, the <gui>dash</gui> displays your 
  favorite applications as well as your running applications. 
  The <gui>dash</gui> will place a slight glow behind any running applications.
  </p>
      
  <p>Clicking the application icon will launch it if it is not running.  
  If it is already running, clicking the application will open the last used 
  window of that application.</p>

  <p>Right clicking the application icon for a running application will 
  bring all windows for that application forward. A menu with the titles of your
  windows will be displayed. You can select a window from this menu. It also 
  provides options to open a new window for that application and to remove or 
  add that application to favorites depending on its current status.</p>

  <p>Windows are shown on their corresponding 
  <link xref="shell-windows-workspaces">workspaces</link>.</p>
-->
<section id="working-with-windows" style="2column">
  <info>
    <title type="link" role="trail">पटल</title>
  </info>
 <title>पटलांसोबत काम करणे</title>
</section>

<section id="working-with-workspaces" style="2column">
  <info>
    <title type="link" role="trail">वर्कस्पेसेस</title>
  </info>
 <title>वर्कस्पेसेससोबत काम करणे</title>
</section>

</page>
