<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="sl">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Umerjevalni cilji so potrebni za do profiliranje kamere in optičnega bralnika.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Katere vrste ciljev so podprte?</title>

  <p>Podprte so naslednje vrste ciljev:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>Cilje lahko kupite od dobro znanih ponudnikov kot so KODAK, X-Rite in LaserSoft v različnih spletnih trgovinah.</p>
    <p>Cilje lahko kupite tudi od podjetja <link href="http://www.targets.coloraid.de/">Wolf Faust</link> za zelo spodobno ceno.</p>
  </note>

</page>
