<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="sl">

  <info>
    <link type="guide" xref="help-legacy"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Zahtevajte podporo preko e-pošte.</desc>
  </info>

  <title>Dopisni seznam</title>

  <p>Dopisni seznami so razprave osnovane na e-pošti. Na dopisnih seznamih GNOME lahko vprašate za podporo. Skoraj vsak program GNOME ima svoj dopisni seznam. Celoten seznam dopisnih seznamov je na <link href="http://mail.gnome.org/mailman/listinfo"/>.</p>

  <note>
    <p>You may need to subscribe to the mailing-list before being able to send
    an email to it.</p>
  </note>

  <p>Privzeti jezik na dopisnih seznamih je angleščina. Za druge jezike obstajajo uporabniški dopisni seznami. Na primer <sys>gnome-de</sys> za nemško govoreče uporabnike ali <sys>gnome-cl-list</sys>  za vse stvari povezane s Čilem.</p>

</page>
