<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-2sided" xml:lang="sl">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Tiskanje na obeh straneh papirja ali več strani na list.</desc>
  </info>

  <title>Dvostransko tiskanje in tiskanje več strani na stran.</title>

  <p>Natisnete lahko obe strani lista papirja:</p>

  <steps>
    <item>
      <p>Open the print dialog by pressing
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p>Pojdite na zavihek <gui>Nastavitev strani</gui> okna tiskanja in s spustnega seznama izberite možnost <gui>Dvostransko</gui>. V primeru da je možnost onemogočena, dvostransko tiskanje za vaš tiskalnik ni na voljo.</p>
      <p>Printers handle two-sided printing in different ways. It is a good
      idea to experiment with your printer to see how it works.</p>
    </item>
    <item>
      <p>Natisnete lahko več kot eno stran dokumenta na vsako <em>stran</em> papirja. Za to uporabite možnost <gui>Strani na stran</gui>.</p>
    </item>
  </steps>

  <note>
    <p>Razpoložljivost teh možnosti je morda odvisna od vrste tiskalnika, ki jo imate kot tudi programa, ki ga uporabljate. Ta možnost morda ne bo vedno na voljo.</p>
  </note>

</page>
