<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="kn">

  <info>
    <link type="guide" xref="help-legacy"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Request support by e-mail.</desc>
  </info>

  <title>ಮೈಲಿಂಗ್ ಲಿಸ್ಟ್‍</title>

  <p>Mailing lists are email based discussions. You can ask for support using
  the GNOME mailing lists. Almost each GNOME application has its own mailing
  list. The complete list of mailing-lists are listed
  at <link href="http://mail.gnome.org/mailman/listinfo"/>.</p>

  <note>
    <p>You may need to subscribe to the mailing-list before being able to send
    an email to it.</p>
  </note>

  <p>The default language used on mailing lists is English. There are user
  mailing lists for other languages. For example, <sys>gnome-de</sys> for
  German speakers or <sys>gnome-cl-list</sys> for all things related to
  Chile.</p>

</page>
