<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="mouse-mousekeys" xml:lang="kn">

  <info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="pointing"/>

    <revision pkgversion="3.8" date="2013-03-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-08-20" status="review"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013, 2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
    <desc>Enable mouse keys to control the mouse with the numeric
    keypad.</desc>
  </info>

  <title>Click and move the mouse pointer using the keypad</title>

  <p>If you have difficulties using a mouse or other pointing device, you can
  control the mouse pointer using the numeric keypad on your keyboard. This
  feature is called <em>mouse keys</em>.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> 
      overview and start typing <gui>Accessibility</gui>.</p>
      <p>You can access the <gui>Activities</gui> overview by pressing on it,
      by moving your mouse pointer against the top-left corner of the screen,
      by using <keyseq><key>Ctrl</key><key>Alt</key><key>Tab</key></keyseq>
      followed by <key>Enter</key>, or by using the
      <key xref="keyboard-key-super">Super</key> key.</p>
    </item>
    <item>
      <p>Click <gui>Accessibility</gui> to open the panel.</p>
    </item>
    <item>
      <!-- TODO investigate keyboard navigation, because the arrow keys show no
           visual feedback, and do not seem to work. -->
      <p>Use the up and down arrow keys to select <gui>Mouse Keys</gui> in the
      <gui>Pointing &amp; Clicking</gui> section, then press <key>Enter</key>
      to switch the <gui>Mouse Keys</gui> switch to on.</p>
    </item>
    <item>
      <p>Make sure that <key>Num Lock</key> is turned off. You will now be able
      to move the mouse pointer using the keypad.</p>
    </item>
  </steps>

  <p>The keypad is a set of numerical buttons on your keyboard, usually
  arranged into a square grid. If you have a keyboard without a keypad (such as
  a laptop keyboard), you may need to hold down the function (<key>Fn</key>)
  key and use certain other keys on your keyboard as a keypad. If you use this
  feature often on a laptop, you can purchase external USB or Bluetooth numeric
  keypads.</p>

  <p>Each number on the keypad corresponds to a direction. For example,
  pressing <key>8</key> will move the pointer upwards and pressing
  <key>2</key> will move it downwards. Press the <key>5</key> key to click once
  with the mouse, or quickly press it twice to double-click.</p>

  <p>Most keyboards have a special key which allows you to right-click,
  sometimes called the <key xref="keyboard-key-menu">Menu</key> key. Note,
  however, that this key responds to where your keyboard focus is, not where
  your mouse pointer is. See <link xref="a11y-right-click"/> for information on
  how to right-click by holding down <key>5</key> or the left mouse button.</p>

  <p>If you want to use the keypad to type numbers while mouse keys is enabled,
  turn <key>Num Lock</key> on. The mouse cannot be controlled with the keypad
  when <key>Num Lock</key> is turned on, though.</p>

  <note>
    <p>The normal number keys, in a line at the top of the keyboard, will not
    control the mouse pointer. Only the keypad number keys can be used.</p>
  </note>

</page>
