<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="prefs" xml:lang="kn">
  <info>

    <link type="guide" xref="index" group="prefs"/>
    <title role="trail" type="link">ಸಿದ್ಧತೆಗಳು</title>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>From hardware control to privacy settings, make GNOME
    work for you.</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-settings.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>User &amp; system settings</title>
<links type="topic" style="experimental-gnome-tiles toronto"/>

</page>
