<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-whatisspace" xml:lang="ru">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>Цветовое пространство — это определённый диапазон цветов.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александр Прокудин</mal:name>
      <mal:email>alexandre.prokoudine@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>ymyasoedov@yandex.ru</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ser82-png</mal:name>
      <mal:email>asvmail.as@gmail.com</mal:email>
      <mal:years>2022-2023</mal:years>
    </mal:credit>
  </info>

  <title>Что такое цветовое пространство?</title>

  <p>Цветовое пространство — это определённый диапазон цветов. Примерами хорошо известных цветовых пространств являются sRGB, AdobeRGB и ProPhotoRGB.</p>

  <p>Зрительный механизм человека — это не простой сенсор RGB, но мы можем приблизиться к отклику глаза на цвет с помощью хроматической диаграммы CIE 1931, которая моделирует зрительную реакцию в виде подковы. Можно увидеть, что человеческое зрение фиксирует гораздо большее количество оттенков зелёного, чем синего или красного. С помощью трихроматических цветовых пространств, таких, как RGB, мы воспроизводим цвета в компьютерах с помощью трёх значений, что ограничивает модель рамками цветового <em>треугольника</em>.</p>

  <note>
    <p>Использование цветовых моделей, таких, как хроматическая диаграмма CIE 1931, является очень сильным упрощением человеческого зрительного механизма, и фактические цветовые гаммы реалистично отображаются скорее в виде трёхмерной видимой оболочки, а не двухмерных проекций. Двухмерная проекция трёхмерного объекта иногда может быть неверной, поэтому, если вам нужна трёхмерная видимая оболочка, используйте приложение <code>gcm-viewer</code>.</p>
  </note>

  <figure>
    <desc>sRGB, AdobeRGB и ProPhotoRGB представлены белыми треугольниками</desc>
    <media its:translate="no" type="image" mime="image/png" src="figures/color-space.png"/>
  </figure>

  <p>Сначала взглянем на sRGB — это самое маленькое цветовое пространство, позволяющее закодировать наименьшее количество цветов. Оно примерно соответствует ЭЛТ-монитору десятилетней давности, и современные мониторы способны отображать гораздо больше цветов. sRGB можно рассматривать, как <em>«наименьший общий знаменатель»</em>, и оно имеет много сфер применения (включая Интернет).</p>
  <p>AdobeRGB часто используется, как <em>«пространство редактирования»</em>. Оно позволяет кодировать больше цветов, чем sRGB, и это означает, что вы сможете изменять цвета в фотографиях, не сильно ухудшая яркость цветов и не нарушая чистоту чёрного цвета.</p>
  <p>ProPhoto — самое большое цветовое пространство, и оно часто используется при создании архивных копий документов. Оно позволяет закодировать почти весь диапазон цветов, различаемых человеческим глазом, и даже некоторые цвета, которые человеческий глаз не видит!</p>

  <p>Но, если ProPhoto — наилучшая программа, то почему же мы не используем её всегда? Причина в <em>дискретизации</em>. Если у нас имеется только 8 битов (256 уровней) для кодирования каждого канала, то для большего диапазона потребуется, соответственно, и больший шаг между каждым значением.</p>
  <p>Бо́льшие шаги означают и более глобальные отличия между захваченным и хранимым цветом, а для некоторых цветов это является серьёзной проблемой. Получается, что ключевые цвета, такие, как телесный цвет, — очень важны, и даже незначительные ошибки приведут к тому, что глаз даже неопытного зрителя заметит погрешности в фотографии.</p>
  <p>Использование 16-ти битового изображения, несомненно, оставит гораздо больше шагов и намного меньшую ошибку дискретизации, но это удваивает размер каждого файла изображения. Самая большая глубина цвета на сегодняшний день составляет 8 бит на пиксель.</p>
  <p>Управление цветом — это процесс преобразования из одного цветового пространства в другое, где цветовое пространство может быть как стандартным (например, sRGB), так и произвольным, таким, как профиль вашего монитора или принтера.</p>

</page>
