<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="disk-repair" xml:lang="ru">
  <info>
    <link type="guide" xref="disk"/>


    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <revision pkgversion="3.25.90" date="2017-08-17" status="review"/>

    <desc>Проверка, не повреждена ли файловая система, и возврат её в рабочее состояние.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александр Прокудин</mal:name>
      <mal:email>alexandre.prokoudine@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>ymyasoedov@yandex.ru</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ser82-png</mal:name>
      <mal:email>asvmail.as@gmail.com</mal:email>
      <mal:years>2022-2023</mal:years>
    </mal:credit>
  </info>

<title>Восстановление повреждённой файловой системы</title>

  <p>Файловые системы могут быть повреждены из-за неожиданного отключения питания, системных сбоев и небезопасного извлечения диска. После такого инцидента рекомендуется <em>восстановить</em> или хотя бы <em>проверить</em> файловую систему, чтобы предотвратить потерю данных в будущем.</p>
  <p>Иногда требуется восстановление, чтобы смонтировать или изменить файловую систему. Даже если <em>проверка</em> не сообщает о каких-либо повреждениях, файловая система все равно может быть помечена как «испорченная» на внутреннем уровне, что нуждается в восстановлении.</p>

<steps>
  <title>Проверить, не повреждена ли файловая система</title>
  <item>
    <p>Откройте <gui>Обзор</gui> и откройте приложение <app>Диски</app>.</p>
  </item>
  <item>
    <p>Выберите диск, содержащий необходимую файловую систему, из списка устройств слева. Если на диске более одного тома, выберите том, который содержит файловую систему.</p>
  </item>
  <item>
    <p>На панели инструментов под разделом <gui>Тома</gui> нажмите кнопку меню. Затем нажмите <gui>Проверить файловую систему…</gui>.</p>
  </item>
  <item>
    <p>В зависимости от того, сколько данных хранится в файловой системе, проверка может занять продолжительное время. В появившемся диалоговом окне подтвердите начало действия.</p>
   <p>Данная операция не изменит файловую систему, но при необходимости отмонтирует её. Будьте терпеливы, пока проверяется файловая система.</p>
  </item>
  <item>
    <p>После завершения вы будете уведомлены о состоянии файловой системы. Обратите внимание, что в некоторых случаях, даже если файловая система не повреждена, её всё равно может потребоваться восстановить, чтобы сбросить внутренний маркер «испорченая».</p>
  </item>
</steps>

<note style="warning">
 <title>При восстановлении возможна потеря данных</title>
  <p>Если структура файловой системы повреждена, это может повлиять на хранящиеся в ней файлы. В некоторых случаях эти файлы не могут быть снова приведены в надлежащий вид и будут удалены или перемещены в специальный каталог. Обычно это папка <em>lost+found</em> в каталоге верхнего уровня файловой системы, где можно найти восстановленные части файлов.</p>
  <p>Если данные слишком ценны, чтобы их можно было потерять во время этого процесса, рекомендуется создать их резервную копию, сохранив образ тома перед восстановлением.</p>
  <p>Затем это изображение можно обработать с помощью инструментов исследовательского анализа, таких как <app>sleuthkit</app>, для дальнейшего восстановления отсутствующих файлов и частей данных, которые не были восстановлены во время восстановления, а также ранее удаленных файлов.</p>
</note>

<steps>
  <title>Восстановление файловой системы</title>
  <item>
    <p>Откройте <gui>Обзор</gui> и откройте приложение <app>Диски</app>.</p>
  </item>
  <item>
    <p>Выберите диск, содержащий необходимую файловую систему, из списка устройств слева. Если на диске более одного тома, выберите том, который содержит файловую систему.</p>
  </item>
  <item>
    <p>На панели инструментов под разделом <gui>Тома</gui> нажмите кнопку меню. Затем нажмите <gui>Восстановить файловую систему…</gui>.</p>
  </item>
  <item>
    <p>В зависимости от того, сколько данных хранится в файловой системе, восстановление может занять продолжительное время. В появившемся диалоговом окне подтвердите начало действия.</p>
   <p>При необходимости, во время процесса файловая система будет отмонтирована. Средство восстановления пытается привести файловую систему в корректное состояние и перемещает поврежденные файлы в специальную папку. Будьте терпеливы, пока файловая система восстанавливается.</p>
  </item>
  <item>
    <p>После завершения вы будете уведомлены, можно ли успешно восстановить файловую систему. В случае успеха ей можно будет снова пользоваться обычным способом.</p>
    <p>Если файловая система не может быть восстановлена, создайте её резервную копию, сохранив образ тома, чтобы впоследствии иметь возможность восстановить важные файлы. Это можно сделать монтированием образа в режиме только для чтения или используя инструменты исследовательского анализа, такие как <app>sleuthkit</app>.</p>
    <p>Чтобы снова использовать том, его необходимо <link xref="disk-format">отформатировать</link> с созданием новой файловой системы. Все данные при этом будут удалены.</p>
  </item>
</steps>

</page>
