<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="accounts" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.5.5" version="0.1" date="2012-08-14" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Fil Bul</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Nalozi</title>
    <desc>Connect to your accounts with various online services.</desc>
  </info>

  <title>Nalozi na mreži</title>

  <p>Možete da unesete vaše pojedinosti prijavljivanja za neke usluge na mreži, kao što su Gugl i Fejsbuk, unutar prozora <app>Nalozi na mreži</app>. Ovo će vam omogućiti da koristite programe da pristupite uslugama na mreži kao što je pošta, kalendari, ćaskanje i dokumenti.</p>

  <links type="topic" groups="add remove #first #default #last"/>

</page>
