<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Džim Kembel</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Kako ćete izvući zaglavljen papir zavisiće od marke i modela vašeg štampača.</desc>
  </info>

  <title>Izvucite zaglavljeni papir</title>

  <p>Ponekad štampači nepravilno povuku list papira i zaglave se.</p>

  <p>Priručnik vašeg štampača će obično obezbediti detaljna uputstva o tome kako da izvadite zaglavljeni papir. Obično, moraćete da otvorite jedan od panela štampača da pronađete zgužvani papir i zatim čvrsto (ali pažljivo!) da povučete zgužvani papir i da ga izvadite iz mehanizma za hranjenje štampača.</p>

  <p>Kada ste izvukli zaglavljeni papir moraćete da pritisnete dugme <em>resume</em> (Nastavi) na štampaču da ponovo počnete sa štampanjem. Kode nekih štampača, možda ćete morati čak da ugasite štampač i da ga ponovo upalite, da biste opet započeli da štampate.</p>

</page>
