<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-inklevel" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="printing"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>
    <revision pkgversion="3.33.3" date="2019-07-19" status="candidate"/>

    <credit type="author">
      <name>Anita Rajter</name>
      <email>nitalynx@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Proverite količinu mastila ili tonera u kertridžima štampača.</desc>
  </info>

  <title>Kako mogu da proverim nivoe mastila ili tonera u štampaču?</title>

  <p>Na koji način ćete proveriti koliko je mastila ili tonera preostalo u vašem štampaču zavisi od modela i od proizvođača vašeg štampača, i od upravljačkih programa i aplikacija instaliranih na vašem računaru.</p>

  <p>Neki štampači imaju ugrađene ekrane za prikazivanje nivoa mastila i drugih podataka.</p>

  <p>Some printers report toner or ink levels to the computer, which can be
  found in the <gui>Printers</gui> panel in <app>Settings</app>. The ink
  level will be shown with the printer details if it is available.</p>

  <p>Upravljački programi i alati stanja za većinu HP štampača su obezbeđeni od strane projekta HP oslikavanja i štampanja za Linuks (HPLIP). Drugi proizvođači možda obezbeđuju vlasničke upravljačke programe sa sličnim funkcijama.</p>

  <p>Drugačije, možete da instalirate programče za proveru i praćenje nivoa mastila. <app>Inkblot</app> prikazuje stanje mastila za mnoge HP, Epson i Kenon štampače. Pogledajte da li se vaš štampač nalazi na <link href="http://libinklevel.sourceforge.net/#supported">spisku podržanih modela</link>. Još jedno programče za nivoe mastila za Epsonove i neke druge štampače je <app>mtink</app>.</p>

  <p>Neki štampači još nisu dobro podržani na Linuksu, a drugi nisu osmišljeni da izveštavaju o nivoima mastila.</p>

</page>
