<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="shell-windows#working-with-windows"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Šon Mek Kens</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Povećajte dva prozora jedan pored drugog.</desc>
  </info>


<title>Popločajte prozore</title>

  <p>Možete da povećate prozor samo na levoj ili desnoj strani ekrana, što vam omogućava da postavite dva prozora jedan pored drugog da biste se brzo prebacivali između njih.</p>

  <p>Da povećate prozor duž strane ekrana, zgrabite traku naslova i prevucite je do leve ili desne strane sve dok ne bude istaknuto pola ekrana. Koristeći tastaturu, držite pritisnutim <key xref="keyboard-key-super">Super</key> i pritisnite taster strelice na <key>levo</key> ili <key>desno</key>.</p>

  <p>Da povratite prozor na njegovu prvobitnu veličinu, odlepite ga od boka ekrana, ili koristite istu prečicu tastature koju ste koristili za povećavanje.</p>

  <note style="tip">
    <p>Držite pritisnutim taster <key>Super</key> i zgrabite bilo gde unutar prozora da ga pomerite.</p>
  </note>

</page>
