<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-cursor-blink" xml:lang="gu">

  <info>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <link type="guide" xref="keyboard"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-10-11" status="candidate"/>
    <revision pkgversion="3.13.92" date="2013-09-22" status="candidate"/>
    <revision pkgversion="3.29" date="2018-09-05" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Natalia Ruz Leiva</name>
       <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="author">
       <name>જુલીટા ઇન્કા</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>માઇકલ હીલ</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>શોભા ત્યાગી</name>
      <email>tyagishobha@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>દાખલ બિંદુને ઝબૂકતું બનાવો અને તે કેટલું ઝડપથી ઝબૂકશે તે નિયંત્રિત કરો.</desc>
  </info>

  <title>કિબોર્ડ કર્સરને ઝબૂકવાનું નિયમિત બનાવો</title>

  <p>જો તમે લખાણ ક્ષેત્રમાં કિબોર્ડ કર્સને જોવા મુશ્કેલી થતી હોય તો, તમે સ્થિત કરવા માટે તેને સરળ બનાવવા માટે ઝબૂકતુ કરી શકો છો.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> 
      overview and start typing <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Accessibility</gui> in the sidebar to open the panel.</p>
    </item>
    <item>
      <p>Press <gui>Cursor Blinking</gui> in the <gui>Typing</gui> section.</p>
    </item>
    <item>
      <p>કેટલુ ઝડપી કર્સર ઝબકે તેને ગોઠવવા માટે <gui>ઝડપ</gui> સ્લાઇડરને વાપરો.</p>
    </item>
  </steps>

</page>
