<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="printing-setup-default-printer" xml:lang="gu">

  <info>
    <link type="guide" xref="printing#setup"/>
    <link type="seealso" xref="user-admin-explain"/>

    <revision pkgversion="3.7.1" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>
    <revision version="gnome:40" date="2021-03-05" status="final"/>

    <credit type="author">
      <name>જીમ કેમ્પબેલ</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Paul W. Frields</name>
      <email>stickster@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>જાના સ્વરોવા</name>
      <email>jana.svarova@gmail.com</email>
      <years>૨૦૧૩</years>
    </credit>
    <credit type="editor">
      <name>ઍકાટેરીના ગેરાસીમોવા</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>પ્રિન્ટર પસંદ કરો કે જે તમે વારંવાર વાપરો છો.</desc>
  </info>

  <title>મૂળભૂત પ્રિન્ટરને સુયોજિત કરો</title>

  <p>જો તમારી પાસે એક કરતા વધારે પ્રિન્ટર ઉપલબ્ધ હોય તો, તમે પસંદ કરી શકો છો કે જે તમારું મૂળભૂત પ્રિન્ટર હશે. તમે પ્રિન્ટરને પસંદ કરવા માંગી શકો છો જે તમે વારંવાર મોટેભાગે વાપરો.</p>

  <note>
    <p>You need <link xref="user-admin-explain">administrative privileges</link>
    on the system to set the default printer.</p>
  </note>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p><gui>પ્રિન્ટરો</gui> પર ક્લિક કરો.</p>
    </item>
    <item>
      <p>Depending on your system, you may have to press 
      <gui style="button">Unlock</gui> in the top right corner and
      type in your password when prompted.</p>
    </item>
    <item>
      <p>Click the <media its:translate="no" type="image" src="figures/emblem-system-symbolic.svg"><span its:translate="yes">settings</span></media>
      button next to the printer.</p>
    </item>
    <item>
      <p>Select the <gui style="menuitem">Use Printer by Default</gui> checkbox.</p>
    </item>
  </steps>

  <p>When you print in an application, the default printer is automatically
  used, unless you choose a different printer.</p>

</page>
