<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="wacom-left-handed" xml:lang="gu">

  <info>
    <revision pkgversion="3.33" date="2019-07-21" status="candidate"/>
    <revision version="gnome:42" status="final" date="2022-04-02"/>

    <link type="guide" xref="wacom"/>

    <credit type="author copyright">
      <name>માઇકલ હીલ</name>
      <email>mdhillca@gmail.com</email>
      <years>૨૦૧૨</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Switch the Wacom tablet between left-handed and right-handed orientation.</desc>
  </info>

  <title>Use the tablet with your left or your right hand</title>

  <p>Some tablets have hardware buttons on one side. The tablet can be rotated
   180 degrees to position these buttons. By default, the orientation is for
   right-handed people. To switch the orientation to left-handed:</p>

<steps>
  <item>
    <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
    overview and start typing <gui>Wacom Tablet</gui>.</p>
  </item>
  <item>
    <p>પેનલને ખોલવા માટે <gui>Wacom ટૅબલેટ</gui> પર ક્લિક કરો.</p>
    <note style="tip"><p>If no tablet is detected, you’ll be asked to
    <gui>Please plug in or turn on your Wacom tablet</gui>. Click
    <gui>Bluetooth</gui> in the sidebar to connect a wireless tablet.</p></note>
  </item>
  <item>
    <p>Set the <gui>Left-Handed Orientation</gui> switch to on.</p>
  </item>
</steps>

</page>
