<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-what" xml:lang="sr">

  <info>
    <link type="guide" xref="backup-why"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Направите резерву свега онога што неможете дозволити да буде изгубљено ако нешто пође наопако.</desc>
  </info>

  <title>Шта да причувате у резерви</title>

  <p>Ваш приоритет треба да буде да направите резерву ваших <link xref="backup-thinkabout">најважнијих датотека</link> као и свега онога чега би поновно стварање било тешко. На пример, од најважнијих до мање важних ствари:</p>

<terms>
 <item>
  <title>Ваше личне датотеке</title>
   <p>У ово могу да спадају документа, таблице, е-пошта, састанци у календару, финансијски подаци, породичне фотографије, или све друге личне датотеке које сматрате незамењивим.</p>
 </item>

 <item>
  <title>Ваша лична подешавања</title>
   <p>Овде спадају измене које сте можда начинили на бојама, позадинама, резолуцији екрана и подешавањима миша на вашој радној површи. Овде такође спадају поставке програма, као подешавања <app>Либре офиса</app>, програма за музику и е-пошту. Сва ова подешавања се могу заменити, али њихово поновно стварање може потрајати мало дуже.</p>
 </item>

 <item>
  <title>Подешавања система</title>
   <p>Већина људи никада не мења подешавања система која су створена за време инсталације. Ако из неког разлога прилагодите подешавања система, или ако користите рачунар као сервер, онда ћете можда желети да направите резерву тих подешавања.</p>
 </item>

 <item>
  <title>Инсталирани програми</title>
   <p>Програми које користите обично могу бити повраћени врло брзо након озбиљних проблема на рачунару њиховим поновним инсталирањем.</p>
 </item>
</terms>

  <p>У опште, желећете да направите резерву датотека које су незамењиве и датотека које захтевају доста уложеног времена за њихову замену без резерве. Ако су ствари лако замењиве, с друге стране, можда нећете желети да користите простор на диску њиховом резервом.</p>

</page>
