<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-where" xml:lang="sr">

  <info>
    <link type="guide" xref="backup-why"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Савет о томе где да сачувате ваше резерве и коју врсту складишног уређаја да користите.</desc>
  </info>

<title>Где да сачувате вашу резерву</title>

  <p>Умношке резерве бисте требали да ускладиштите засебно од вашег рачунара — на спољном чврстом диску, на пример. На тај начин, ако вам се поквари рачунар, или ако га изгубите или вам га украду, резерва ће и даље остати нетакнута. Зарад веће сигурност, не бисте требали да држите резерве у истој згради у којој се налази и рачунар. У случају пожара или крађе, оба примерка ваших података би могла бити изгубљена ако их држите заједно.</p>

  <p>Такође је врло важно и да изаберете одговарајући <em>медијум резерве</em>. Треба да складиштите ваше резерве на уређају који има довољно простора на диску за све ваше датотеке резерве.</p>

   <list style="compact">
    <title>Опције локалног и удаљеног складиштења</title>
    <item>
      <p>Меморијски УСБ кључ (низак капацитет)</p>
    </item>
    <item>
      <p>Унутрашњи уређај диска (високи капацитет)</p>
    </item>
    <item>
      <p>Спољни чврсти диск (обично високи капацитет)</p>
    </item>
    <item>
      <p>Уређај повезан на мрежу (високи капацитет)</p>
    </item>
    <item>
      <p>Сервер датотека/резерве (високи капацитет)</p>
    </item>
    <item>
     <p>Записиви ЦД или ДВД дискови (низак/средњи капацитет)</p>
    </item>
    <item>
     <p>Услуге резерве на мрежи (<link href="http://aws.amazon.com/s3/">Амазон С3</link>, на пример; капацитет зависи од цене)</p>
    </item>
   </list>

  <p>Неке од ових опција имају довољно капацитета да омогуће прављење резерве свих датотека на вашем систему, такође познатој као <em>резерва читавог система</em>.</p>
</page>
