<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="sr">

  <info>

    <link type="guide" xref="color#calibration"/>
    <revision pkgversion="40.3" date="2021-08-08" status="review"/>

    <desc>Ми подржавамо велики број уређаја за калибрацију.</desc>

    <credit type="author">
      <name>Ричардс Хјуџиз</name>
      <email>richard@hughsie.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Који инструменти за мерење боје су подржани?</title>

  <p>Систем се заснива на систему Арџил за управљање бојом да би подржао инструменте за боје. Списак подржаних инструмената за мерење можете наћи на <link href="https://www.argyllcms.com/doc/instruments.html"/>.</p>

</page>
