<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="files-tilde" xml:lang="sr">

  <info>
    <link type="guide" xref="files#faq"/>
    <link type="seealso" xref="files-hidden"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-28" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Дејвид Кинг</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>То су датотеке резерве. Оне су скривене по основи.</desc>
  </info>

<title>Шта је датотека која има <file>~</file> на крају њеног назива?</title>

  <p>Датотеке са <file>~</file> (тилдом) на крају њихових назива (на пример, <file>пример.txt~</file>) јесу самостално направљени резервни примерци докумената уређиваних у уређивачу текста <app>Вилењакова бележница</app> или другим програмима. Обично је безбедно да их уклоните, али нема бојазни ако их и оставите на рачунару.</p>

  <p>Ове датотеке су скривене унапред. Ако их видите, то је зато што сте или изабрали <gui>Прикажи скривене датотеке</gui> (у изборнику опција прегледа програма <app>Датотеке</app>) или сте притиснули <keyseq><key>Ктрл</key><key>Х</key></keyseq>. Можете поново да их сакријете понављајући неки од ових корака.</p>

  <p>Према овим датотекама се односи на исти начин као према обичним скривеним датотекама. Погледајте <link xref="files-hidden"/> за савет како да поступате са скривеним датотекама.</p>

</page>
