<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="files" xml:lang="sr">

  <info>
    <link type="guide" xref="index" group="files"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.12" date="2014-03-02" status="review"/>
    <revision pkgversion="3.16" date="2015-01-27" status="review"/>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Џим Кембел</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <title type="link" role="trail">Датотеке</title>

    <desc>Нађите и управљајте датотекама, било на вашем рачунару, на интернету или у резервама.</desc>

    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-files.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Датотеке, фасцикле и претрага</title>

<section id="common-file-tasks">
  <title>Уобичајени послови</title>
  <links type="topic" style="2column"/>
</section>

<section id="more-file-tasks">
  <title>Задаци више окренути датотекама</title>
  <links type="topic" style="2column"/>
</section>

<section id="removable">
  <title>Преносиви уређаји и спољни дискови</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>Прављење резерви</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>Савети и питања</title>
  <links type="topic" style="2column"/>
</section>

</page>
