<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-sort" xml:lang="sr">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-25" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Џим Кембел</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Поређајте датотеке према називу, величини, врсти, или према времену измене.</desc>
  </info>

<title>Поређајте датотеке и фасцикле</title>

<p>Можете да поређате датотеке на различите начине у фасцикли, на пример поређавши их према датуму или величини датотеке. Погледајте <link xref="#ways"/> за списак општих начина ређања датотека. Погледајте <link xref="nautilus-views"/> да сазнате како да измените основни поредак ређања.</p>

<p>Начин на који можете да поређате датотеке зависи од <em>прегледа фасцикле</em> који користите. Можете да измените тренутни преглед користећи дугмад списка или иконица на траци алата.</p>

<section id="icon-view">
  <title>Преглед иконицама</title>

  <p>Да поређате датотеке другачијим редоследом, кликнути на дугме прегледа опција на траци алата и изаберите <gui>Према називу</gui>, <gui>Према величини</gui>, <gui>Према врсти</gui>, <gui>Према датуму измене</gui>, или <gui>Према датуму приступа</gui>.</p>

  <p>Као један пример, ако изаберете <gui>Према називу</gui>, датотеке ће бити поређане према њиховим називима, азбучним редом. Погледајте <link xref="#ways"/> за остале опције.</p>

  <p>Можете да поређате и у обрнутом поретку тако што ћете изабрати <gui>Обрни редослед</gui> из изборника.</p>

</section>

<section id="list-view">
  <title>Преглед списком</title>

  <p>Да поређате датотеке на другачији начин, кликните на једно од заглавља колоне у управнику датотека. На пример, кликните <gui>Врста</gui> да поређате према врсти датотеке. Кликните поново на заглавље колоне да поређате обрнутим редом.</p>
  <p>У прегледу списком, можете да прикажете колоне са више особина и да ређате по тим колонама. Кликните на дугме прегледа опција на траци алата, изаберите <gui>Приказане колоне</gui> и изаберите које колоне желите да буду приказане. Након тога ћете бити у могућности да ређате према тим колонама. Погледајте <link xref="nautilus-list"/> за описе о доступним колонама.</p>

</section>

<section id="ways">
  <title>Начини ређања датотека</title>

  <terms>
    <item>
      <title>Назив</title>
      <p>Поређајте азбучним редом према називу датотеке.</p>
    </item>
    <item>
      <title>Величина</title>
      <p>Поређајте према величини датотеке (колико заузима простора на диску). Поређајте по основи од мањих ка већим.</p>
    </item>
    <item>
      <title>Врста</title>
      <p>Поређајте азбучним редом према врсти датотеке. Датотеке исте врсте су груписане заједно, а након тога према називу.</p>
    </item>
    <item>
      <title>Последња измена</title>
      <p>Поређајте према датуму и времену последње измене датотеке. Поређајте по основи од старијих ка новијим.</p>
    </item>
  </terms>

</section>

</page>
