<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wrongnetwork" xml:lang="sr">
  <info>

    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-problem"/>
    <link type="seealso" xref="net-wireless-connect"/>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Петр Ковар</name>
      <email>pknbe@volny.cz</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Уредите поставке везе, и уклоните нежељену опцију везе.</desc>

  </info>

  <title>Мој рачунар се повезује на погрешну мрежу</title>

  <p>Када упалите ваш рачунар, сам ће покушати да се повеже на бежичне мреже на које сте се повезивали раније. Ако покуша да се повеже на мрежу на коју ви не желите да се повеже, пратите кораке испод.</p>

  <steps>
    <title>Да заборавите бежичну везу:</title>
    <item>
      <p>Отворите преглед <gui xref="shell-introduction#activities">Активности</gui> и почните да куцате <gui>Бежична</gui>.</p>
    </item>
    <item>
      <p>Нађите мрежу са којом <em>не желите</em> да будете повезани.</p>
    </item>
    <item>
      <p>Кликните на дугме <media its:translate="no" type="image" src="figures/emblem-system-symbolic.svg"><span its:translate="yes">подешавања</span></media> које се налази поред мреже.</p></item>
    <item>
      <p>Кликните на дугме <gui>Заборави везу</gui>. Ваш рачунар неће више покушавати да се повеже на ту мрежу.</p>
    </item>
  </steps>

  <p>Ако касније будете пожелели да се повежете на мрежу коју је ваш рачунар заборавио, следите кораке у <link xref="net-wireless-connect"/>.</p>

</page>
