<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-vpn-connect" xml:lang="sr">

  <info>
    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-wired"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.10" date="2013-12-05" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33" date="2019-07-17" status="candidate"/>

    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Екатерина Герасимова</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Подесите ВПН везу на локалну мрежу преко интернета.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Повезивање на ВПН</title>

<p>ВПН (или <em>Виртуелна лична мрежа</em>) је начин повезивања на локалну мрежу преко интернета. На пример, рецимо да желите да се повежете на локалну мрежу на вашем радном месту док сте на службеном путу. Негде ћете наћи везу на интернет (у хотелу) и затим ћете се повезати на ВПН вашег радног места. То ће бити исто као да сте се директно повезали на мрежу на послу, али ће стварна мрежна веза бити преко интернет везе хотела. ВПН мреже су обично <em>шифроване</em> да би спречиле друге да без пријављивања приступе локалној мрежи на коју сте повезани.</p>

<p>Постоји велики број различитих врста ВПН-а. Можда ћете морати да инсталирате неки додатни софтвер у зависности на коју врсту ВПН-а се повезујете. Сазнајте детаље везе од онога ко је задужен за ВПН и видите који <em>ВПН клијент</em> треба да користите. Затим, покрените програм за инсталирање софтвера и потражите пакет <app>Управника мреже</app> који ради са вашим ВПН-ом (ако га има) и инсталирајте га.</p>

<note>
 <p>Ако не постоји Управник мреже за вашу врсту ВПН-а, вероватно ћете морати да преузмете и да инсталирате неки софтвер клијент од компаније која обезбеђује ВПН софтвер. Вероватно ћете морати да пратите мало другачија упутства како бисте га оспособили за рад.</p>
</note>

<p>Да подесите ВПН везу:</p>

  <steps>
    <item>
      <p>Отворите преглед <gui xref="shell-introduction#activities">Активности</gui> и почните да куцате <gui>Мрежа</gui>.</p>
    </item>
    <item>
      <p>Кликните на <gui>Мрежа</gui> да отворите панел.</p>
    </item>
    <item>
      <p>При дну списка са леве стране, кликните на дугме <gui>+</gui> да додате нову везу.</p>
    </item>
    <item>
      <p>Изаберите <gui>ВПН</gui> на списку сучеља.</p>
    </item>
    <item>
      <p>Изаберите коју врсту ВПН везе имате.</p>
    </item>
    <item>
      <p>Попуните детаље ВПН везе, а затим притисните <gui>Додај</gui> када завршите.</p>
    </item>
    <item>
      <p>Када завршите подешавање ВПН-а, отворите <gui xref="shell-introduction#systemmenu">системски изборник</gui> на десној страни горње траке, кликните <gui>Искључи ВПН</gui> и изаберите <gui>Повежи се</gui>. Можда ћете морати да унесете лозинку за везу пре него што се успостави. Када је веза направљена, видећете иконицу у облику катанца на горњој траци.</p>
    </item>
    <item>
      <p>На срећу, успешно ћете се повезати на ВПН. Ако до тога не дође, мораћете два пута да проверите ВПН подешавања. Ово можете да урадите на табли <gui>Мрежа</gui> коју сте користили да направите везу. Изаберите ВПН везу са списка, затим притисните дугме <media its:translate="no" type="image" src="figures/emblem-system-symbolic.svg"><span its:translate="yes">подешавања</span></media> да прегледате подешавања.</p>
    </item>
    <item>
      <p>Да искључите ВПН, кликните на изборник система на горњој траци и кликните <gui>Прекини везу</gui> испод назива ваше ВПН везе.</p>
    </item>
  </steps>

</page>
