<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-willnotturnon" xml:lang="sr">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="guide" xref="hardware-problems-graphics" group="#last"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Лабави каблови и проблеми са компонентама су могући разлози.</desc>
    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Мој рачунар неће да се упали</title>

<p>Постоје бројни разлози због којих ваш рачунар неће да се упали. Ова тема даје кратак преглед неких од могућих разлога.</p>
	
<section id="nopower">
  <title>Рачунар није укључен, празна батерија, или лабав кабал</title>
  <p>Уверите се да су каблови напајања рачунара чврсто прикључени и да су утичнице напајања укључене. Уверите се такође да је монитор прикључен и упаљен. Ако имате преносни рачунар, прикључите кабал за напајање (у случају да му је батерија празна). Можете такође да проверите да ли је батерија исправно постављена на своје место (проверите доњу страну преносног рачунара) ако је уклоњива.</p>
</section>

<section id="hardwareproblem">
  <title>Проблем са компонентом рачунара</title>
  <p>Може бити оштећена компонента рачунара или у лошем радном стању. У том случају, мораћете да поправите ваш рачунар. У уобичајене проблеме спадају оштећена јединица напајања, неисправно уметнути делови (као што је меморија или РАМ) и неисправна матична плоча.</p>
</section>

<section id="beeps">
  <title>Рачунар пишти и гаси се</title>
  <p>Ако рачунар запишти неколико пута када га упалите и затим се угаси (или не успе да се покрене), можда указује да је открио неки проблем. Ови звучни сигнали се понекад називају <em>звучни кодови</em>, а шаблон звукова је осмишљен да вам укаже на одговарајући проблем са рачунаром. Различити произвођачи користе различите звучне кодове, тако да ћете морати да погледате приручник матичне плоче вашег рачунара, или да однесете ваш рачунар на поправку.</p>
</section>

<section id="fans">
  <title>Вентилатори рачунара се окрећу али нема ничега на екрану</title>
  <p>Прва ствар коју требате да урадите је да проверите да ли је ваш монитор прикључен и упаљен.</p>
  <p>Овај проблем може такође да се појави услед квара компоненте. Вентилатори могу да се упале када притиснете дугме напајања, али можда остали важни делови рачунара не могу да се упале. У овом случају, однесите ваш рачунар на поправку.</p>
</section>

</page>
