<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-booklet" xml:lang="sr">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Како да штампате пресавијене, вишестраничне књижице користећи величину папира А4 или Писмо.</desc>
  </info>

  <title>Штампајте књижицу</title>

  <p>Можете да штампате књижицу из ПДФ-а.</p>

  <p>Ако желите да одштампате књижицу из документа <app>Либре Офиса</app>, као прво извезите га у ПДФ тако што ћете изабрати <guiseq><gui>Датотека</gui><gui>Извези као ПДФ…</gui></guiseq>. Ваш документ мора да има укупан број страница који је дељив са 4 (4, 8, 12, 16,…). Мораћете да додате до 3 празне странице.</p>

  <p>Ако број страница вашег ПДФ документа није дељив са 4, мораћете да додате одговарајући број празних страница (1, 2, или 3) да бисте га учинили дељивим са 4. Да урадите ово, можете да:</p>

  <steps>
    <item>
      <p>Направите <app>Либре Офис</app> документ са потребним бројем (1-3) празних страница.</p>
    </item>
    <item>
      <p>Извезите празне странице у ПДФ тако што ћете изабрати <guiseq><gui>Датотека</gui> <gui>Извези као ПДФ…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Стопите празне странице са вашим ПДФ документом користећи <app>ПДФ-Шафлер</app> или <app>Режим ПДФ-а</app>, постављајући празне странице на крај.</p>
    </item>
  </steps>

  <p>Изаберите врсту штампача који ћете да користите за штампање из доњег списка:</p>

</page>
