<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-streaks" xml:lang="sr">

  <info>
    <link type="guide" xref="printing#problems"/>
    <link type="seealso" xref="printing-inklevel"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ако су резултати штампања пругасти, бледи, или им недостају боје, проверите нивое мастила или очистите главе штампача.</desc>
  </info>

  <title>Зашто се на одштампаним листовима виде пруге, линије или погрешне боје?</title>

  <p>Ако се на штампаним документима виде пруге, бледи су, са линијама које не би требале да се виде, или су слабог квалитете, може бити да имате проблем са штампачем или немате довољно мастила или тонера.</p>

  <terms>
     <item>
       <title>Блед текст и слике</title>
       <p>Можда вам понестаје мастила или тонера. Проверите нивое мастила или тонера и купите нове улошке ако је потребно.</p>
     </item>
     <item>
       <title>Пруге и линије</title>
       <p>Ако имате штампач са млазом мастила, може бити да су главе запрљане или делимично зачепљене. Покушајте да очистите главе штампача. Погледајте упутство штампача.</p>
     </item>
     <item>
       <title>Погрешне боје</title>
       <p>Можда у штампачу понестаје једна боја мастила или тонера. Проверите нивое мастила или тонера и купите нове улошке ако је потребно.</p>
     </item>
     <item>
       <title>Кривудаве линије, или линије које нису праве</title>
       <p>Ако су линије кривудаве а које би на резултатима штампања требале да буду праве, мораћете да поравнате главе штампача. Погледајте приручник са упутством да видите како ово да урадите.</p>
     </item>
  </terms>

</page>
