<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="sound-usemic" xml:lang="sr">

  <info>
    <link type="guide" xref="media#sound"/>

    <revision version="gnome:40" date="2021-02-26" status="candidate"/>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Екатерина Герасимова</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Користите аналоган или УСБ микрофон и изаберите основни улазни уређај.</desc>
  </info>

  <title>Користите други микрофон</title>

  <p>Можете да користите спољни микрофон за ћаскање са пријатељима, за разговор са колегама на послу, за снимање гласа, или за коришћење других мултимедијалних програма. Чак и ако ваш рачунар има уграђени микрофон, посебан микрофон обично обезбеђује бољи квалитет звука.</p>

  <p>Ако ваш микрофон има кружни прикључак, само га прикључите у одговарајћу звучну утичницу на вашем рачунару. Већина рачунара има две утичнице: једна је за микрофоне а друга за звучнике. Та утичница је обично светло-црвене боје или се поред ње налази слика микрофона. Микрофони укључени у одговарајућу утичницу обично ће бити коришћени по основи. Ако не, погледајте упутства испод за избор основног улазног уређаја.</p>

  <p>Ако имате УСБ микрофон, прикључите га у било коју УСБ прикључницу на вашем рачунару. УСБ микрофони делују као одвојени аудио уређаји, зато ћете морати да одредите који микрофон ће бити коришћен као основни.</p>

  <steps>
    <title>Изаберите основни улазни звучни уређај</title>
    <item>
      <p>Отворите преглед <gui xref="shell-introduction#activities">Активности</gui> и почните да куцате <gui>Звук</gui>.</p>
    </item>
    <item>
      <p>Кликните на <gui>Звук</gui> да отворите панел.</p>
    </item>
    <item>
      <p>У одељку <gui>Улаз</gui>, изаберите уређај који желите да користите. Указивач улазног нивоа би требао да одговори када говорите.</p>
    </item>
  </steps>

  <p>Можете да дотерате јачину звука и да искључите микрофон из овог панела.</p>

</page>
