<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="da">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up local and network printers. Learn about different
    printing options like collation and multi-sided printing.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2015-2016, 2019-2021</mal:years>
    </mal:credit>
  </info>

<title>Udskrivning</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Opsætning</title>
  </info>
  <title>Opsæt en printer</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Størrelser og layouts</title>
  </info>
  <title>Andre papirstørrelser og layouts</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>Uregistrerede printere, fastsiddende papir, udskrifter med forkert udseende …</desc>
  </info>
  <title>Printerproblemer</title>
</section>

</page>
