<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="bluetooth-problem-connecting" xml:lang="fa">

  <info>
    <link type="guide" xref="bluetooth#problems"/>
    <link type="seealso" xref="hardware-driver"/>

    <revision pkgversion="3.4" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33" date="2019-07-19" status="candidate"/>

    <credit type="author">
      <name>فیل بول</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>مایکل هیل</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>دیوید کینگ</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>The adapter could be turned off or may not have drivers, or Bluetooth
    might be disabled or blocked.</desc>
  </info>

  <title>نمی‌توانم به افزارهٔ بلوتوثیم وصل شوم</title>

  <p>There are a number of reasons why you may not be able to connect to a
  Bluetooth device, such as a phone or headset.</p>

  <terms>
    <item>
      <title>اتّصال مسدود شده یا نامطمئن است</title>
      <p>Some Bluetooth devices block connections by default, or require you to
      change a setting to allow connections to be made. Make sure that your
      device is set up to allow connections.</p>
    </item>
    <item>
      <title>سخت‌افزار بلوتوثی شناسایی نمی‌شود</title>
      <p>Your Bluetooth adapter or dongle may not have been recognized by the
      computer. This could be because
      <link xref="hardware-driver">drivers</link> for the adapter are not
      installed. Some Bluetooth adapters are not supported on Linux, so you may
      not be able to get the right drivers for them. In this case, you will
      probably have to get a different Bluetooth adapter.</p>
    </item>
    <item>
      <title>رابط روشن نیست</title>
        <p>Make sure that your Bluetooth adapter is switched on. Open the
        Bluetooth panel and check that it is not
        <link xref="bluetooth-turn-on-off">disabled</link>.</p>
    </item>
    <item>
      <title>اتّصال بلوتوثی افزاره، خاموش شده</title>
      <p>Check that Bluetooth is turned on on the device you are trying to
      connect to, and that it is <link xref="bluetooth-visibility">discoverable
      or visible</link>. For example, if you are trying to connect to a phone,
      make sure that it is not in airplane mode.</p>
    </item>
    <item>
      <title>هیچ رابط بلوتوثی‌ای در رایانه‌تان نیست</title>
      <p>Many computers do not have Bluetooth adapters. You can buy an adapter
      if you want to use Bluetooth.</p>
    </item>
  </terms>

</page>
