<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-percentage" xml:lang="fa">

  <info>

    <link type="guide" xref="power"/>
    <link type="guide" xref="status-icons"/>
    <link type="seealso" xref="power-status"/>

    <revision version="gnome:40" date="2021-03-21" status="candidate"/>

    <credit type="author copyright">
      <name>مایکل هیل</name>
      <email>mdhillca@gmail.com</email>
      <years>۲۰۲۱</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Display the battery percentage in the top bar.</desc>
  </info>
  
  <title>نمایش وضعیت باتری به شکل درصد</title>

  <p>The <link xref="status-icons#batteryicons">status icon</link> in the top
    bar shows the charge level of the main internal battery, and whether it is
    currently charging or not. It can also display the charge as a
    <link xref="power-percentage">percentage</link>.</p>

  <steps>

    <title>نمایش درصد باتری در نوار بالایی</title>

    <item>
      <p>نمای کلی <gui xref="shell-introduction#activities">فعّالیت‌ها</gui> را گشوده و شروع به نوشتن <gui>نیرو</gui> کنید.</p>
    </item>
    <item>
      <p>Click <gui>Power</gui> to open the panel.</p>
    </item>
    <item>
      <p>در بخش <gui>دکمهٔ روشن و تعلیق</gui>، <gui>نمایش درصد باتری</gui> را روشن کنید.</p>
    </item>

  </steps>

</page>
