<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="privacy-history-recent-off" xml:lang="fa">

  <info>
    <link type="guide" xref="privacy"/>
    <link type="guide" xref="files#more-file-tasks"/>

    <revision pkgversion="3.8" date="2013-03-11" status="final"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="final"/>
    <revision pkgversion="3.38.1" date="2020-11-22" status="candidate"/>
    <revision pkgversion="3.38.4" date="2021-03-07" status="review"/>

    <credit type="author">
      <name>جیم کمپبل</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>مایکل هیل</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Stop or limit your computer from tracking your recently-used
    files.</desc>
  </info>

  <title>خاموش یا محدود کردن ردیابی تاریخچهٔ پرونده</title>
  
  <p>Tracking recently used files and folders makes it easier to find
  items that you have been working on in the file manager and in file
  dialogs in applications. You may wish to keep your file usage history
  private instead, or only track your very recent history.</p>

  <steps>
    <title>ردیابی تاریخچه پرونده را خاموش کنید</title>
    <item>
      <p>نمای کلی <gui xref="shell-introduction#activities">فعّالیت‌ها</gui> را گشوده و شروع به نوشتن <gui>محرمانگی</gui> کنید.</p>
    </item>
    <item>
      <p>Click on <gui>File History &amp; Trash</gui> to open the panel.</p>
    </item>
    <item>
     <p>Switch the <gui>File History</gui> switch to off.</p>
     <p>To re-enable this feature, switch the <gui>File History</gui> switch
     to on.</p>
    </item>
    <item>
      <p>Use the <gui>Clear History…</gui> button to purge the history
      immediately.</p>
    </item>
  </steps>
  
  <note><p>This setting will not affect how your web browser stores information
  about the web sites you visit.</p></note>

  <steps>
    <title>محدود کردن مقدار زمانی که تاریخچهٔ پرونده‌ةان ردیابی می‌شود</title>
    <item>
      <p>نمای کلی <gui xref="shell-introduction#activities">فعّالیت‌ها</gui> را گشوده و شروع به نوشتن <gui>تاریخچهٔ پرونده و زباله‌دان</gui> کنید.</p>
    </item>
    <item>
      <p>Click on <gui>File History &amp; Trash</gui> to open the panel.</p>
    </item>
    <item>
     <p>Ensure the <gui>File History</gui> switch is set to on.</p>
    </item>
    <item>
     <p>Under <gui>File History Duration</gui>, select how long to retain your file history.
     Choose from options <gui>1 day</gui>, <gui>7 days</gui>, <gui>30 days</gui>, or
     <gui>Forever</gui>.</p>
    </item>
    <item>
      <p>Use the <gui>Clear History…</gui> button to purge the history
      immediately.</p>
    </item>
  </steps>

</page>
